.state-hidden {
  display: none !important;
}
.ui-x-small {
  font-size: 12px !important;
}
.ui-small {
  font-size: 14px !important;
}
.ui-medium {
  font-size: 16px !important;
}
.ui-large {
  font-size: 18px !important;
}
.ui-x-large {
  font-size: 20px !important;
}
.ui-xx-large {
  font-size: 22px !important;
}
.ui-xxx-large {
  font-size: 24px !important;
}
.ui-button {
  font-size: 16px;
}
