@require '../src/css/Title.styl'
@require '../src/css/Button.styl'
@require '../src/css/ButtonGroup.styl'
@require '../src/css/Icon.styl'

.melon-row
    margin: 20px 0

.melon-column

    > .ui-button + .ui-button
        margin-left: 1em
