@require '../src/css/Title.styl'
@require '../src/css/TextBox.styl'
@require '../src/css/Button.styl'
@require '../src/css/Select.styl'
@require '../src/css/BoxGroup.styl'
@require '../src/css/Toggle.styl'
@require '../src/css/Validity.styl'
@require '../src/css/Uploader.styl'

.row
    margin-left: -15px

    button
        margin-left 15px;

.melon-row
    margin: 20px 0
