@require '../src/css/Title.styl'
@require '../src/css/icon.styl'

.line
    float: left
    box-sizing: border-box
    width: 25%
    padding: 10px
    text-align center

    .cell
        margin: 10px 0
        height: 120px
        font-size: 16px

        &:hover
            color: $-melon-colors.teal500

        >label
            display: block
            height: 30px
            line-height 30px
