@require 'nib';

global-reset()

body
    font-size: 16px

@require '../src/css/theme/default/index.styl'
@require '../src/css/Navigation.styl'
@require '../src/css/Button.styl'
@require '../src/css/Icon.styl'
@require '../src/css/Drawer.styl'
@require './App.styl'
