@require 'nib';

global-reset()

body
    font-size: 16px

@require '../src/css/theme/default/index.styl'
@require '../src/css/Navigation.styl'
@require '../src/css/Button.styl'
@require '../src/css/BoxGroup.styl'
@require '../src/css/Icon.styl'
@require '../src/css/Drawer.styl'
@require '../src/css/Dialog.styl'
@require '../src/css/Breadcrumb.styl'
@require '../src/css/Avatar.styl'
@require '../src/css/Card.styl'
@require './App.styl'
