@require 'nib'
@require '../src/css/mixin.styl'

global-reset()

body
    font-size: 16px
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, '宋体', SimSun, sans-serif

html,
body
    width: 100%
    height: 100%

melon-generate-grid()

#app
    margin-left 200px
    padding 0 10px

.nav
    fixed: top left bottom
    width: 200px
    background: #1b1c1d
    text-align: right
    overflow-y: auto

    > h1
        height: 2em
        color: rgb(0, 159, 147)
        font-size: 32px
        line-height: @height
        padding-right 10px

    > ul

        border: 1px solid rgba(255, 255, 255, .3)
        border-width: 1px 0 1px 0

        a
            display block
            height 3em
            padding-right 10px
            color #888
            line-height @height
            text-decoration none
            transition all .3s

            &.current, &:hover
                background-color: #1b1c1d + 10%
                color: #fff

@require '../src/css/theme/default'
@require '../src/css/Breadcrumb.styl'
@require '../src/css/BoxGroup.styl'
@require '../src/css/Button.styl'

.melon-column

    > .ui-button + .ui-button
        margin-left: 1em

@require '../src/css/Calendar.styl'
@require '../src/css/Card.styl'
@require '../src/css/Dialog.styl'
@require '../src/css/Drawer.styl'
@require '../src/css/Icon.styl'

@require '../src/css/Pager.styl'
@require '../src/css/Progress.styl'
@require '../src/css/Region.styl'

.row
    max-width: 800px;

@require '../src/css/ScrollView.styl'

.ui-scrollview
    line-height: 25px

@require '../src/css/Select.styl'
@require '../src/css/SnackBar.styl'
@require '../src/css/Table.styl'

#app
    padding-bottom 200px

.ui-table
    margin: 20px 0

@require '../src/css/Tabs.styl'
@require '../src/css/TextBox.styl'
.melon-row
    margin: 2em 0

@require '../src/css/Title.styl'

@require '../src/css/Toggle.styl'
@require '../src/css/Tooltip.styl'

.ui-tooltip + .ui-tooltip
    margin-left: 1em

@require '../src/css/Tree.styl'
@require '../src/css/Validity.styl'
@require '../src/css/Uploader.styl'
