{
    "env": {
        "dev": {
            "presets": [
                "es2015",
                "stage-2",
                "react"
            ]
        },
        "test": {
            "presets": [
                "es2015",
                "stage-2",
                "react"
            ],
            "plugins": [
                "istanbul"
            ]
        },
        "production": {
            "presets": [
                [
                    "es2015",
                    {
                        "loose": true,
                        "modules": "umd"
                    }
                ],
                "stage-2",
                "react"
            ]
        }
    }
}
