
@require 'melon/css/colors.styl'

.ui-component-view
    margin: 0 auto
    max-width: 1144px
    padding-top: 80px
    padding-left: 60px
    padding-right: 60px
    padding-bottom: 80px

    > .ui-title
        color: $-melon-colors.indigo500
        margin-bottom: 30px

    .ui-tool-bar
        background-color: $-melon-colors.indigo500
        border-top-left-radius: 2px
        border-top-right-radius: 2px
        position: relative

        .ui-title
            color: $-melon-colors.white
            margin: 0
            line-height: 64px
            font-weight: 300

        >.ui-button:last-child
            position: absolute
            top: 8px
            right: 25px
            color: $-melon-colors.white

.ui-example
    margin-bottom: 50px

    &-brief
        line-height: 2em
