

.ui-example-card
        padding-bottom: 1em

    &-main
        margin: 1em
        margin-bottom: 0
        border: 1px solid #f0f0f0

    .variant-tabs
        .ui-tabs-panel
            min-height: 200px
            padding: 1em
            line-height: 1.5em

            .ui-title
                color: $-melon-colors.black

    .variant-pager1,
    .variant-pager2
        padding: 30px 50px

        p
            margin-top: 30px

    .variant-progresslinear,
    .variant-progresscircle
        padding: 30px 50px