
.ui-props-table
    > .ui-title
        margin-top: 40px

    .ui-table-header
        .ui-table-cell
            color: #888

    .ui-table-body
        .ui-table-cell:first-child
            color: $-melon-colors.indigo800
        .ui-table-cell:nth-child(2)
            color: $-melon-colors.pink800

    .ui-table-cell:first-child
        .ui-table-cell-content
            padding-left: 16px