

.ui-drawer-nav

    .ui-drawer-window

        .ui-title
            margin: 0
            padding: 20px 30px
            height: 50px
            line-height: 50px
            text-align: right
            color: $-melon-colors.grey600
            background-image: url(../img/melon-logo.png)
            background-size: auto 60%
            background-position: 15px center
            background-repeat: no-repeat
            border-bottom: 1px solid $-melon-colors.faintBlack