
.ui-nav
    display: block
    background-color: $-melon-colors.teal600
    height: 64px
    width: 100%
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 4

    > .ui-button
        position: absolute
        top: 10px
        left: 20px
        color: $-melon-colors.darkWhite