
.ui-zippy-nav
    color: #333

    .ui-button
        width: 100%
        border-radius: 0px
        text-align: left
        text-transform: none
        height: 3.5em
        line-height: 3.5

    .ui-link
        height: 2em
        line-height: 2
        padding-left: 30px
        width: 270px

        &.state-active
            color: $-melon-link.states.hover.color
