

.ui-homeview

    &-header
        background-color: $-melon-colors.teal600
        padding: 72px 24px
        box-sizing: border-box
        overflow: hidden
        color: $-melon-colors.darkWhite
        text-align: center

        &-logo
            margin: 0 auto
            width: 283px
            height: 160px
            background-image: url(../../common/img/big-logo.png)

        p
            font-size: $-melon-xx-large-font-size
            line-height: 1.5em
            font-weight: 200

        .ui-title
            font-size: 56px
            font-weight: 300

        .ui-button
            margin-top: 40px

    &-info

        padding: 48px 24px
        box-sizing: border-box
        background-color: $-melon-colors.blueGrey50

        p
            max-width: 580px
            margin: 0 auto
            color: $-melon-colors.darkBlack
            font-size: $-melon-large-font-size
            line-height: 1.5em

            .ui-link
                display: inline-block
                margin: 0 2px
                text-decoration: none
                color: $-melon-colors.pink300
                &:hover
                    color: $-melon-colors.pink300
                    text-decoration: underline

    &-github
        padding: 48px 24px
        box-sizing: border-box
        background-color: $-melon-colors.blueGrey50
        text-align: center

        p
            color: $-melon-colors.darkBlack
            font-size: $-melon-large-font-size
            line-height: 1.5em

        .ui-button
            margin-top: 50px

    &-footer
        padding: 72px 24px
        box-sizing: border-box
        text-align: center
        background-color: rgb(33, 33, 33)
        color: $-melon-colors.darkWhite