@require 'nib'
@require '../../../src/css/mixin.styl'

global-reset()

body
    font-size: 16px
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, '宋体', SimSun, sans-serif

html,
body
    width: 100%
    height: 100%

melon-generate-grid()

#app
    margin-left 200px
    padding 0 10px

.nav
    fixed: top left bottom
    width: 200px
    background: #1b1c1d
    text-align: right
    overflow-y: auto

    > h1
        height: 2em
        color: rgb(0, 159, 147)
        font-size: 32px
        line-height: @height
        padding-right 10px

    > ul

        border: 1px solid rgba(255, 255, 255, .3)
        border-width: 1px 0 1px 0

        a
            display block
            height 3em
            padding-right 10px
            color #888
            line-height @height
            text-decoration none
            transition all .3s

            &:hover
                background-color #1b1c1d + 10%
                color: #fff

.row
    padding: 10px 0
