$melon-button = {

    font-size: $esui-medium-font-size,
    font-family: $esui-font-family,
    font-weight: normal,
    height: 2.4em,
    padding: 0 1em,

    radius: 0,
    wide-padding: 0 2em,

    link: {

        color: rgb(108, 205, 192, 1),
        text-decoration: none,

        '&:hover': {
            color: lighten(rgb(108, 205, 192, 1), 15%),
            text-decoration: underline,
        }

    },

    '&:hover': {

    }

}
