$-melon-tabs = {

    font-size: $-melon-medium-font-size,
    background-color: $-melon-colors.teal500,

    item: {
        color: $-melon-colors.darkWhite,
        states: {
            selected: {
                color: $-melon-colors.white,
                background-color: $-melon-colors.teal500
            },
            disabled: {
                color: $-melon-colors.lightWhite
            }
        }
    }

    inkbar: {
        background-color: $-melon-colors.yellow200
    }

};
