$-melon-toggle-circle-disabled = {
    background-color: $-melon-colors.grey400
}

$-melon-toggle-bar-disabled = {
    background-color: $-melon-colors.faintBlack
};

$-melon-toggle-circle = {
    background-color: rgb($-melon-colors.teal500)
};

$-melon-toggle-bar = {
    background-color: rgba($-melon-colors.teal500, 0.498039)
};
