.ui-style-view
    margin: 0 auto;
    max-width: 1144px;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;

    &.variant-icon
        .melon-column
            text-align: center
            margin-bottom: 20px

            label
                margin: 10px 0
                display: inline-block
        .ui-text-box
            margin-bottom: 30px