@require './colors.styl'
@require './variable.styl'
@require './mixin.styl'

.{$-melon-state-prefix}-hidden
    display none !important

.{$-melon-variant-prefix}-size-xxs
    font-size $-melon-xx-small-font-size !important

.{$-melon-variant-prefix}-size-xs
    font-size $-melon-x-small-font-size !important

.{$-melon-variant-prefix}-size-s
    font-size $-melon-small-font-size !important

.{$-melon-variant-prefix}-size-m
    font-size $-melon-medium-font-size !important

.{$-melon-variant-prefix}-size-l
    font-size $-melon-large-font-size !important

.{$-melon-variant-prefix}-size-xl
    font-size $-melon-x-large-font-size !important

.{$-melon-variant-prefix}-size-xxl
    font-size $-melon-xx-large-font-size !important

.{$-melon-variant-prefix}-size-xxxl
    font-size $-melon-xxx-large-font-size !important

.{$-melon-variant-prefix}-fluid
    display: block !important
    width: 100% !important
