@require "./base.styl"

.{$-melon-class-prefix}-breadcrumb

    display: inline-block

    &-item

        display: inline-block
        text-decoration: none
        color: $-melon-breadcrumb.item.color
        line-height: 2em

        &[href]:hover
            color: $-melon-breadcrumb.item.hover.color

        &:after
            display: inline-block
            content: '/'
            padding: 0 0.5em
            color: $-melon-breadcrumb.seperator.color

        &:last-child
            color: $-melon-breadcrumb.item.lastChild.color
            &:after
                display: none

        &>.ui-icon
            display: inline-block
