@require './base.styl'
@require './Ripple.styl'

melon-button-swatch($swatches, $revert = false)

    color: $revert ? $-melon-colors.white : $swatches.color
    background-color: $revert ? $swatches.color : $swatches.background-color

    & .{$-melon-class-prefix}-touch-ripple-circle
        background-color: $swatches.color-ripple

    &:hover
        color: $revert ? $-melon-colors.white : $swatches.color-hover
        background-color: rgba($swatches.background-color-hover, $revert ? .6 : .2)

    &:active
        color: $revert ? $-melon-colors.white : $swatches.color-active
        background-color: rgba($swatches.background-color-active, $revert ? .8 : .4)


.{$-melon-class-prefix}-button

    display: inline-block
    box-sizing: border-box
    position: relative

    padding: 0 1em
    height: 2em

    font-size: $-melon-medium-font-size
    line-height: 2em
    text-transform: uppercase

    text-align: center

    outline: 0
    vertical-align: middle


    border-radius: 2px
    border: none

    cursor: pointer
    user-select: none

    transition: all .3s

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent

    &:disabled
        cursor: not-allowed
        color: rgba(#000, .26) !important
        background-color: $-melon-colors.white !important

    melon-button-swatch($-melon-button-default)

    for $color-theme, $value in $-melon-button-color-themes
        &.variant-{$color-theme}
            melon-button-swatch($value)
            &.variant-raised,
            &.variant-floating
                melon-button-swatch($value, true)

    &.variant-raised
        {$-melon-button-raised}
        &:disabled
            color: rgba(#000, .26) !important
            background-color: $-melon-colors.grey200 !important

    &.variant-floating
        {$-melon-button-floating}
        {$-melon-button-raised}
        &:disabled
            color: rgba(#000, .26) !important
            background-color: $-melon-colors.grey200 !important

        >.{$-melon-class-prefix}-touch-ripple
            border-radius: 50%

    >.{$-melon-class-prefix}-icon:first-child

        display: inline-block
        width: 2em
        height: 2em
        font-size: 1em
        line-height: 2em
        vertical-align: top
        margin-left: -1em

    &.variant-icon
        padding: 0
        min-width: 2em

        >.{$-melon-class-prefix}-icon
            margin-left: 0

    &.variant-ripple
        position: relative
