/**
 * @file 分隔线样式
 * @author leon <ludafa@outlook.com>
 */

@require "./base.styl"

.{$-melon-class-prefix}-divider
    border-style: solid
    border-color: rgba(0, 0, 0, .12)
    border-width: 0 0 1px 0
    -webkit-margin-before: 0
    -webkit-margin-after: 0
    margin: .5em 0
