@require './base.styl'
@require './Icon.styl'
@require './Layer.styl'
@require './Button.styl'
@require './Menu.styl'

.{$-melon-class-prefix}-icon-menu

    &-popup
        position: absolute;
        transform-origin: left top 0;
        z-index: $-melon-z-index.popover
