@require './base.styl'
@require './Icon.styl'
@require './Button.styl'
@require './Divider.styl'


.{$-melon-class-prefix}-menu
    position: relative;

    &.variant-level-0
        padding: 0.5em 0

    &-cascading-icon
        position: absolute;
        top: 4px
        right: 0
        transform: rotate(270deg)
        color: rgba(0, 0, 0, .54)

    &-children-popover
        position: absolute;
        top: 0
        left: 101%
        padding: .5em 0
        border-radius: 2px
        background: #fff
        box-shadow: melon-get-z-depth('2')
        transform-origin: top left

    for $level in (0..10)
        &.variant-level-{$level} &-children-popover
            z-index: $-melon-z-index.popover + $level


.{$-melon-class-prefix}-menu-item
    display: block
    position: relative;
    box-sizing: border-box;
    width: 100%
    height: 3em
    line-height: 3em
    padding: 0 1em
    text-align: left
    cursor: pointer
    color: rgba(0, 0, 0, 0.870588)
    white-space: nowrap;

    &.variant-cascading
        height: 2em
        line-height: 2em
        padding: 0 1.5em

    &:hover
        background-color: $-melon-colors.grey200

    &-label
        display: inline-block;
        height: 100%
        font-size: 15px
        vertical-align: middle;

    &:before
        content: ''
        display: inline-block;
        height: 100%
        width: 0
        vertical-align: middle;

    &.state-disabled
        color: $-melon-colors.grey400
        cursor: not-allowed;

        &:hover
            background: #fff

    &-icon-placeholder,
    &-left-icon
        display: inline-block;
        font-size: 18px
        width: 24px
        height: @width
        line-height: @width
        margin-right: 16px
        text-align: left
        vertical-align: middle;
