/**
 * @file Navigation 样式
 * @author leon <ludafa@outlook.com>
 */

@require "nib"
@require "./base.styl"
@require "./Zippy.styl"

.{$-melon-class-prefix}-navigation

    &-touchable
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%
        color: rgba(0, 0, 0, .87)
        height: 3em
        line-height: 3em
        text-align: left
        text-decoration: none
        padding-left: 1em
        cursor: pointer
        font-size: 1em

        &:hover
            color: $-melon-colors.blue400

    &-label
        font-size: 0.875em

    for $level in (1..5)
        &.variant-level-{$level} &-touchable
            padding-left: unit($level * 2 - 1, 'em')

.{$-melon-class-prefix}-navigation-item

    for $level in (1..5)
        &.variant-level-{$level} &-touchable
            padding-left: unit($level * 2 + 1, 'em')

    &-label
        font-size: 0.875em
        vertical-align: middle !important;

    &-touchable
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%
        color: rgba(0, 0, 0, .87)
        height: 3em
        text-align: left
        text-decoration: none
        padding-left: 1em
        cursor: pointer

        &:visited
            color: rgba(0, 0, 0, .87)

        &:before
            display: inline-block;
            content: ''
            height: 100%
            width: 0
            vertical-align: middle;

        >.ui-icon
            font-size: 1.6em
            vertical-align: middle;
            color: rgba(0, 0, 0, .54)
            line-height: 1
            margin-right: 0.625em


    &.state-active &-touchable,
    &:hover &-touchable

        color: $-melon-colors.blue400

        >.ui-icon
            color: $-melon-colors.blue400

.ui-title.variant-navigation-header
    color: rgba(0, 0, 0, .54)
    font-size: 14px
    padding: 0 16px
    margin: 0
    line-height: 48px

.ui-button.variant-navigation
    width: 100%
    height: 3em
    text-align: left
