@require "./base.styl"

$-melon-pager-states = {

    disabled: {
        cursor: not-allowed
        color: $-melon-pager.item.states.disabled.color

        '&:hover': {
            background-color: $-melon-pager.item.states.disabledHover.color
            border-radius: 0
        }
    },

    current: {
        background-color: $-melon-pager.item.states.current.background-color
        color: $-melon-pager.item.states.current.color
        border-radius: 2px
    },

    prev: {
        width: auto
        font-size: 1.5em
        height: 1em
        line-height: 1em
    },

    next: {
        width: auto
        font-size: 1.5em
        height: 1em
        line-height: 1em
    },

    ellipsis: {
        width: auto
        font-size: 1.2em
        height: 1.5em
        line-height: 1.5em
        width: 1.5em
    }
}


.{$-melon-class-prefix}-pager

    display: block

    list-style: none

    outline: 0
    vertical-align: middle

    border: none

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent

    font-size: $-melon-pager.font-size

    &.variant-lang .{$-melon-class-prefix}-pager-item
        &.state-prev,
        &.state-next,
        &.state-ellipsis
            font-size: 1em
            padding: 0 0.3em
            height: 2em
            line-height: 2em

    &-item

        display: inline-block

        padding: 0
        margin: 0 0.2em

        width: 2em
        height: 2em
        line-height: 2em


        outline: 0
        vertical-align: middle
        text-align: center

        border: none
        color: $-melon-pager.item.color

        cursor: pointer

        // Gets rid of tap active state
        -webkit-tap-highlight-color: transparent

        &:hover
            background-color: $-melon-pager.item.states.hover.background-color
            border-radius: 2px

        for $state, $hashes in $-melon-pager-states
            &.state-{$state}
                {$hashes}

