@require "./base.styl"


.{$-melon-class-prefix}-region
    display: block

    &-selector
        cursor: pointer

        span
            vertical-align: middle

        .{$-melon-class-prefix}-icon
            margin-right: 0.5em
            vertical-align: middle
            transition: color .1s
            font-size: 1.2em

        &.state-checked .{$-melon-class-prefix}-icon
            color: $-melon-colors.blue500

    &-country
        h1
            background-color: $-melon-colors.grey300
            padding: 0.8em 1em
            line-height: 1em
    &-area
        line-height: 2.6em
        display: table
        width: 100%

        &.variant-even
            background-color: $-melon-colors.grey50

        &-selector
            display: table-cell
            padding-left: 1em
            width: 10em

        &-content
            display: table-cell
            padding-right: 1em
            clearfix()

    &-province
        float: left
        width: 7.5em
        position: relative
        padding-left: 0.5em
        white-space: nowrap

        &.state-expand
            background-color: $-melon-colors.blue50
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)

        .{$-melon-class-prefix}-region-selector
            position: relative
            z-index: 0

        &-popup
            visibility: hidden
            opacity: 0
            position: absolute
            left: 8em
            top: 0
            background-color: $-melon-colors.blue50
            z-index: 1
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1)

            ul
                padding: 0 0.5em
                width: 12em
                clearfix()

        &.state-expand &-popup
            visibility: visible
            opacity: 1

        &-info
            display: inline-block
            margin-left: 4px
            font-size: 0.8em
            color: $-melon-colors.blue400

    &-city
        float: left
        min-width: 6em
        line-height: 2.6em
