@require "./base.styl"

.{$-melon-class-prefix}-tabs

    display: block
    margin: 0
    padding: 0
    font-size: $-melon-tabs.font-size

    ul
        position: relative
        width: 100%

        background-color: $-melon-tabs.background-color
        white-space: nowrap

        list-style: none


.{$-melon-class-prefix}-tabs-item

    display: inline-block
    cursor: pointer
    padding: 0.48em 0
    height: 2em
    line-height: 2em
    text-align: center
    color: $-melon-tabs.item.color

    &.state-selected
        color: $-melon-tabs.item.states.selected.color
        background-color: $-melon-tabs.item.states.selected.background-color

    &.state-disabled
        cursor: not-allowed
        color: $-melon-tabs.item.states.disabled.color


.{$-melon-class-prefix}-tabs-panel
    display: none;
    &.state-active
        display: block!important

.{$-melon-class-prefix}-tabs-inkbar

    display: inline-block

    position: absolute
    bottom: 0
    left: 0

    height: 2px
    background-color: $-melon-tabs.inkbar.background-color

    transition: left .8s cubic-bezier(0.23, 1, 0.32, 1) 0ms
