@require './base.styl'

.{$-melon-class-prefix}-tool-bar
    padding: 0 1em
    font-size: $-melon-x-large-font-size
    height: 3.2em
    background-color: $-melon-tool-bar.background-color

    >.{$-melon-class-prefix}-button
        &:first-child
            margin-left: -0.5em

        &:last-child
            margin-right: -0.5em
