@require "./base.styl"
@require './Icon.styl'


.{$-melon-class-prefix}-tree

    list-style: none

    .{$-melon-class-prefix}-icon

        font-size: 1.2em
        color: $-melon-colors.grey500
        position: absolute
        top: 0.25em
        left: 0.25em

    .{$-melon-class-prefix}-tree-node

        cursor: pointer
        line-height: 1em
        transition: all 0.8s linear 0ms
        position: relative

        &-label

            display: block
            margin: 0.5em
            padding: 0.5em 1.2em
            border-radius: 0.2em

            &:hover
                background-color: $-melon-colors.cyan100

            &.state-selected
                font-weight: 700
                color: $-melon-colors.white
                background-color: $-melon-colors.cyan200


    .{$-melon-class-prefix}-tree-node-root

        overflow: hidden
        transition: all .3s ease 0s
        height: 0

        &.state-expand

            height: auto
            overflow: auto
