$-melon-breadcrumb = {

    item: {
        color: $-melon-colors.blue500
        hover: {
            color: $-melon-colors.blue500
        },
        lastChild: {
            color: $-melon-colors.grey600
        }
    },

    seperator: {
        color: $-melon-colors.grey600
    }

};
