
$-melon-chip-shadow = {

    '&:active': {
        box-shadow: melon-get-z-depth('1')
    }

}

$-melon-chip = {

    color: $-melon-colors.darkBlack
    background-color: $-melon-colors.grey300

    color-hover: $-melon-colors.white
    background-color-hover: $-melon-colors.grey400

    icon: {
        color: $-melon-colors.grey300
        background-color: $-melon-colors.lightBlack

        color-hover: $-melon-colors.grey400
        background-color-hover: $-melon-colors.white
    }

}
