@require './base.styl'
@require './Icon.styl'

.ui-avatar
    display: inline-flex
    border-radius: 50%
    width: 2em
    height: 2em
    align-items: center
    justify-content: center
    background-color: $-melon-colors.blue500
    color: $-melon-colors.white
    font-size: 1.25em
    font-family: melon-font-family()

    &.variant-image
        background-size: cover;
