@import './base.styl'
@import 'nib'

@require '../src/css/Mask.styl'
@require '../src/css/Dialog.styl'
@require '../src/css/TextBox.styl'
@require '../src/css/Button.styl'
@require '../src/css/Icon.styl'


$-melon-calendar-sizes = {
    'xxs': 30px,
    'xs': 35px
}

for level, value in $-melon-calendar-sizes
    $-size = {
        width: value,
        height: value,
        line-height: value
    }
    .{$-melon-class-prefix}-rangecalendar.variant-size-{level},
    .{$-melon-class-prefix}-calendar.variant-size-{level}
        .{$-melon-class-prefix}-calendar
            &-day
                {$-size}
            &-month
                &-weekheader span
                    {$-size}


.{$-melon-class-prefix}-rangecalendar,
.{$-melon-class-prefix}-calendar

    font-size: $-melon-medium-font-size

    .{$-melon-class-prefix}-textbox.variant-calendar
        font-size: $-melon-medium-font-size

        input
            color: $-melon-colors.black

    .{$-melon-class-prefix}-dialog

        &-window
            width: 20em
            border-radius: 0
            padding: 0
            padding-bottom: 0.6em

        &-body
            padding: 0

        &-actions
            margin-top: 0.6em

        &-button
            margin-right: 1.5em

    &-header
        background-color: $-melon-colors.cyan700
        color: $-melon-colors.white
        height: 4em
        padding: 1em 1.25em
        width: 17.5em
        cursor: pointer

        &-year
            font-size: 1.12em
            line-height: 1
            margin-bottom: 0.6em
            font-family: Roboto, sans-serif

        &-date
            display: inline-block
            font-size: 2em
            line-height: 1.266
            font-family: 'SimHei', sans-serif
            white-space: nowrap

        &-week
            display: inline-block
            font-size: 2em
            line-height: 1.266
            font-family: 'SimHei', sans-serif
            margin-right: 1em
            white-space: nowrap


    &-selector
        margin-top: 0.5em
        height: 17.5em
        overflow-y: scroll

        &-item
            text-align: center
            cursor: pointer

            a
                display: inline-block
                width: 3.125em
                height: 3.125em
                line-height: 3.125em
                color: $-melon-colors.black
                border-radius: 100em
                opacity: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
                text-decoration: none

        &-item:hover a
            color: $-melon-colors.white
            background-color: $-melon-colors.cyan700
            opacity: 0.6

        &-item.state-selected a
            color: $-melon-colors.white
            background-color: $-melon-colors.cyan700
            opacity: 0.8

        &-item.state-disabled
            cursor: not-allowed

            a
                color: $-melon-colors.lightBlack
                background-color: transparent
                cursor: not-allowed

    &-pager
        position: relative
        margin-top: 0.5em
        height: 1.875em
        line-height: 1.875em
        text-align: center

        .{$-melon-class-prefix}-icon
            position: absolute
            font-size: 1.5em
            color: $-melon-colors.darkBlack
            top: 0
            cursor: pointer

            &.state-disabled
                color: $-melon-colors.minBlack
                cursor: not-allowed

        [data-action='prev']
            left: 16px

        [data-action='next']
            right: 16px

    &-month

        font-size: 0.8em

        &-weekheader
            padding: 0.625em 1.25em 0 1.25em
            color: $-melon-colors.lightBlack
            clearfix()

            span
                display: block
                float: left
                width: 3.125em
                height: 3.125em
                line-height: 3.125em
                text-align: center

        ul
            display: block
            padding: 0.4em 1.25em 0 1.25em;

        &-week
            clearfix()
            white-space: nowrap

    &-day
        display: block
        float: left
        font-family: Roboto, sans-serif
        width: 3.125em
        height: 3.125em
        line-height: 3.125em
        text-align: center
        text-decoration: none
        color: $-melon-colors.black
        border-radius: 100em
        opacity: 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

        &:hover
            background-color: $-melon-colors.cyan700
            color: $-melon-colors.white
            opacity: 0.6

        &:active,
        &.variant-pre-month.state-selected,
        &.variant-next-month.state-selected,
        &.state-selected
            background-color: $-melon-colors.cyan700
            color: $-melon-colors.white
            opacity: 0.8

        &.variant-pre-month.state-disabled,
        &.variant-next-month.state-disabled,
        &.state-disabled
            color: $-melon-colors.grey300
            cursor: not-allowed
            &:hover
                background-color: transparent
                color: inherit
                opacity: 1
                color: $-melon-colors.grey300

        &.variant-pre-month,
        &.variant-next-month
            color: $-melon-colors.grey500
            &:hover
                background-color: transparent
                color: inherit
                opacity: 1


    &.state-disabled

        .{$-melon-class-prefix}-textbox.variant-calendar input
            color: $-melon-colors.lightBlack
            cursor: not-allowed

    &.state-readOnly

        .{$-melon-class-prefix}-textbox.variant-calendar input
            color: $-melon-colors.darkBlack


.{$-melon-class-prefix}-rangecalendar

    .{$-melon-class-prefix}-textbox.variant-calendar
        min-width: 15em

    .{$-melon-class-prefix}-dialog.variant-calendar

        .{$-melon-class-prefix}-dialog-window
            width: 40em

        .{$-melon-class-prefix}-dialog-body
            display: table
            width: 40em
            table-layout: fixed


    .{$-melon-class-prefix}-calendar

        &-header
            display: table-cell
            vertical-align: middle

    .{$-melon-class-prefix}-rangecalendar-row
        display: table-row

    .{$-melon-class-prefix}-rangecalendar-main
        display: table-cell
        width: 20em
        vertical-align: top


