@require './base.styl'

.{$-melon-class-prefix}-card
    box-sizing: border-box
    box-shadow: melon-get-z-depth('1')
    border-radius: 2px
    background-color: #fff

    &-title
        box-sizing: border-box
        padding: 1.5em 1em 1em

    &-content
        box-sizing: border-box
        padding: 0 1em 1em

    &-actions
        box-sizing: border-box
        padding: 0.5em
