@require "./base.styl"
@require "nib"
@require "./Layer.styl"

.{$-melon-class-prefix}-dialog

    position: fixed
    display: flex
    box-sizing: border-box
    -webkit-tap-highlight-color: $-melon-colors.transparent
    z-index: $-melon-z-index.dialog
    top: 0
    left: 0
    bottom: 0
    right: 0
    opacity: 0
    visibility: hidden
    overflow-y: auto
    padding: 1rem 0

    &.state-open
        opacity: 1
        visibility: visible

    &-window
        margin: auto
        box-sizing: border-box
        -webkit-tap-highlight-color: $-melon-colors.transparent
        min-width: 50rem
        z-index: $-melon-z-index.dialog
        background-color: $-melon-colors.white
        box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22)
        border-radius: 2px
        padding: 1.5em 1.5em 0 1.5em
        transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1), opacity 450ms cubic-bezier(0.23, 1, 0.32, 1)
        will-change: transform, opacity;

    &-window.variant-no-title &-body
        margin: 0 0 1.5em


    .variant-adaptive
        width: auto
        display: inline-block

    &-title
        font-size: $-melon-xx-large-font-size
        line-height: 2
        margin: -0.5em 0 0

    &-body
        margin: 1.25em 0 1.5em

    &-actions

        margin-right: -1em
        padding: 0.5em 0
        text-align: right
        clearfix()

        >.{$-melon-class-prefix}-button
            float: right
            margin-left: 0.5em
