@import "./base.styl"
@import "nib"

.{$-melon-class-prefix}-dialog

    position: fixed
    box-sizing: border-box
    -webkit-tap-highlight-color: $-melon-colors.transparent
    z-index: $-melon-z-index.dialog
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    left: -10000px;
    opacity: 0
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms

    &.state-open

        opacity: 1

    &-window

        box-sizing: border-box
        -webkit-tap-highlight-color: $-melon-colors.transparent
        transition: top 250ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
        position: absolute
        width: 75%
        max-width: 768px
        top: 16px
        left: 50%
        z-index: $-melon-z-index.dialog
        background-color: $-melon-colors.white
        box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22)
        border-radius: 2px
        padding: 1em
        margin-bottom: 16px

    &-title

        font-size: $-melon-xx-large-font-size
        line-height: 2

    &-body

        padding: 0.6em 0

    &-actions

        margin-top: 2em
        text-align: right
