@require './base.styl'

@font-face
    font-family: 'melon'
    src:url('../font/melon.eot?4d6t69')
    src:url('../font/melon.eot?#iefix4d6t69') format('embedded-opentype'),
        url('../font/melon.woff2?4d6t69') format('woff2'),
        url('../font/melon.woff?4d6t69') format('woff'),
        url('../font/melon.ttf?4d6t69') format('truetype'),
        url('../font/melon.svg?4d6t69#melon') format('svg')
    font-weight: normal
    font-style: normal


.ui-icon
    font-family: 'melon'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    font-size: 24px

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale


[data-icon="3d-rotation"]:before
    content: "\e84d"
[data-icon="ac-unit"]:before
    content: "\eb3b"
[data-icon="access-alarm"]:before
    content: "\e190"
[data-icon="access-alarms"]:before
    content: "\e191"
[data-icon="access-time"]:before
    content: "\e192"
[data-icon="accessibility"]:before
    content: "\e84e"
[data-icon="accessible"]:before
    content: "\e914"
[data-icon="account-balance"]:before
    content: "\e84f"
[data-icon="account-balance-wallet"]:before
    content: "\e850"
[data-icon="account-box"]:before
    content: "\e851"
[data-icon="account-circle"]:before
    content: "\e853"
[data-icon="adb"]:before
    content: "\e60e"
[data-icon="add"]:before
    content: "\e145"
[data-icon="add-a-photo"]:before
    content: "\e439"
[data-icon="add-alarm"]:before
    content: "\e193"
[data-icon="add-alert"]:before
    content: "\e003"
[data-icon="add-box"]:before
    content: "\e146"
[data-icon="add-circle"]:before
    content: "\e147"
[data-icon="add-circle-outline"]:before
    content: "\e148"
[data-icon="add-location"]:before
    content: "\e567"
[data-icon="add-shopping-cart"]:before
    content: "\e854"
[data-icon="add-to-photos"]:before
    content: "\e39d"
[data-icon="add-to-queue"]:before
    content: "\e05c"
[data-icon="adjust"]:before
    content: "\e39e"
[data-icon="airline-seat-flat"]:before
    content: "\e630"
[data-icon="airline-seat-flat-angled"]:before
    content: "\e631"
[data-icon="airline-seat-individual-suite"]:before
    content: "\e632"
[data-icon="airline-seat-legroom-extra"]:before
    content: "\e633"
[data-icon="airline-seat-legroom-normal"]:before
    content: "\e634"
[data-icon="airline-seat-legroom-reduced"]:before
    content: "\e635"
[data-icon="airline-seat-recline-extra"]:before
    content: "\e636"
[data-icon="airline-seat-recline-normal"]:before
    content: "\e637"
[data-icon="airplanemode-active"]:before
    content: "\e195"
[data-icon="airplanemode-inactive"]:before
    content: "\e194"
[data-icon="airplay"]:before
    content: "\e055"
[data-icon="airport-shuttle"]:before
    content: "\eb3c"
[data-icon="alarm"]:before
    content: "\e855"
[data-icon="alarm-add"]:before
    content: "\e856"
[data-icon="alarm-off"]:before
    content: "\e857"
[data-icon="alarm-on"]:before
    content: "\e858"
[data-icon="album"]:before
    content: "\e019"
[data-icon="all-inclusive"]:before
    content: "\eb3d"
[data-icon="all-out"]:before
    content: "\e90b"
[data-icon="android"]:before
    content: "\e859"
[data-icon="announcement"]:before
    content: "\e85a"
[data-icon="apps"]:before
    content: "\e5c3"
[data-icon="archive"]:before
    content: "\e149"
[data-icon="arrow-back"]:before
    content: "\e5c4"
[data-icon="arrow-downward"]:before
    content: "\e5db"
[data-icon="arrow-drop-down"]:before
    content: "\e5c5"
[data-icon="arrow-drop-down-circle"]:before
    content: "\e5c6"
[data-icon="arrow-drop-up"]:before
    content: "\e5c7"
[data-icon="arrow-forward"]:before
    content: "\e5c8"
[data-icon="arrow-upward"]:before
    content: "\e5d8"
[data-icon="art-track"]:before
    content: "\e060"
[data-icon="aspect-ratio"]:before
    content: "\e85b"
[data-icon="assessment"]:before
    content: "\e85c"
[data-icon="assignment"]:before
    content: "\e85d"
[data-icon="assignment-ind"]:before
    content: "\e85e"
[data-icon="assignment-late"]:before
    content: "\e85f"
[data-icon="assignment-return"]:before
    content: "\e860"
[data-icon="assignment-returned"]:before
    content: "\e861"
[data-icon="assignment-turned-in"]:before
    content: "\e862"
[data-icon="assistant"]:before
    content: "\e39f"
[data-icon="assistant-photo"]:before
    content: "\e3a0"
[data-icon="attach-file"]:before
    content: "\e226"
[data-icon="attach-money"]:before
    content: "\e227"
[data-icon="attachment"]:before
    content: "\e2bc"
[data-icon="audiotrack"]:before
    content: "\e3a1"
[data-icon="autorenew"]:before
    content: "\e863"
[data-icon="av-timer"]:before
    content: "\e01b"
[data-icon="backspace"]:before
    content: "\e14a"
[data-icon="backup"]:before
    content: "\e864"
[data-icon="battery-alert"]:before
    content: "\e19c"
[data-icon="battery-charging-full"]:before
    content: "\e1a3"
[data-icon="battery-full"]:before
    content: "\e1a4"
[data-icon="battery-std"]:before
    content: "\e1a5"
[data-icon="battery-unknown"]:before
    content: "\e1a6"
[data-icon="beach-access"]:before
    content: "\eb3e"
[data-icon="beenhere"]:before
    content: "\e52d"
[data-icon="block"]:before
    content: "\e14b"
[data-icon="bluetooth"]:before
    content: "\e1a7"
[data-icon="bluetooth-audio"]:before
    content: "\e60f"
[data-icon="bluetooth-connected"]:before
    content: "\e1a8"
[data-icon="bluetooth-disabled"]:before
    content: "\e1a9"
[data-icon="bluetooth-searching"]:before
    content: "\e1aa"
[data-icon="blur-circular"]:before
    content: "\e3a2"
[data-icon="blur-linear"]:before
    content: "\e3a3"
[data-icon="blur-off"]:before
    content: "\e3a4"
[data-icon="blur-on"]:before
    content: "\e3a5"
[data-icon="book"]:before
    content: "\e865"
[data-icon="bookmark"]:before
    content: "\e866"
[data-icon="bookmark-border"]:before
    content: "\e867"
[data-icon="border-all"]:before
    content: "\e228"
[data-icon="border-bottom"]:before
    content: "\e229"
[data-icon="border-clear"]:before
    content: "\e22a"
[data-icon="border-color"]:before
    content: "\e22b"
[data-icon="border-horizontal"]:before
    content: "\e22c"
[data-icon="border-inner"]:before
    content: "\e22d"
[data-icon="border-left"]:before
    content: "\e22e"
[data-icon="border-outer"]:before
    content: "\e22f"
[data-icon="border-right"]:before
    content: "\e230"
[data-icon="border-style"]:before
    content: "\e231"
[data-icon="border-top"]:before
    content: "\e232"
[data-icon="border-vertical"]:before
    content: "\e233"
[data-icon="branding-watermark"]:before
    content: "\e06b"
[data-icon="brightness-1"]:before
    content: "\e3a6"
[data-icon="brightness-2"]:before
    content: "\e3a7"
[data-icon="brightness-3"]:before
    content: "\e3a8"
[data-icon="brightness-4"]:before
    content: "\e3a9"
[data-icon="brightness-5"]:before
    content: "\e3aa"
[data-icon="brightness-6"]:before
    content: "\e3ab"
[data-icon="brightness-7"]:before
    content: "\e3ac"
[data-icon="brightness-auto"]:before
    content: "\e1ab"
[data-icon="brightness-high"]:before
    content: "\e1ac"
[data-icon="brightness-low"]:before
    content: "\e1ad"
[data-icon="brightness-medium"]:before
    content: "\e1ae"
[data-icon="broken-image"]:before
    content: "\e3ad"
[data-icon="brush"]:before
    content: "\e3ae"
[data-icon="bubble-chart"]:before
    content: "\e6dd"
[data-icon="bug-report"]:before
    content: "\e868"
[data-icon="build"]:before
    content: "\e869"
[data-icon="burst-mode"]:before
    content: "\e43c"
[data-icon="business"]:before
    content: "\e0af"
[data-icon="business-center"]:before
    content: "\eb3f"
[data-icon="cached"]:before
    content: "\e86a"
[data-icon="cake"]:before
    content: "\e7e9"
[data-icon="call"]:before
    content: "\e0b0"
[data-icon="call-end"]:before
    content: "\e0b1"
[data-icon="call-made"]:before
    content: "\e0b2"
[data-icon="call-merge"]:before
    content: "\e0b3"
[data-icon="call-missed"]:before
    content: "\e0b4"
[data-icon="call-missed-outgoing"]:before
    content: "\e0e4"
[data-icon="call-received"]:before
    content: "\e0b5"
[data-icon="call-split"]:before
    content: "\e0b6"
[data-icon="call-to-action"]:before
    content: "\e06c"
[data-icon="camera"]:before
    content: "\e3af"
[data-icon="camera-alt"]:before
    content: "\e3b0"
[data-icon="camera-enhance"]:before
    content: "\e8fc"
[data-icon="camera-front"]:before
    content: "\e3b1"
[data-icon="camera-rear"]:before
    content: "\e3b2"
[data-icon="camera-roll"]:before
    content: "\e3b3"
[data-icon="cancel"]:before
    content: "\e5c9"
[data-icon="card-giftcard"]:before
    content: "\e8f6"
[data-icon="card-membership"]:before
    content: "\e8f7"
[data-icon="card-travel"]:before
    content: "\e8f8"
[data-icon="casino"]:before
    content: "\eb40"
[data-icon="cast"]:before
    content: "\e307"
[data-icon="cast-connected"]:before
    content: "\e308"
[data-icon="center-focus-strong"]:before
    content: "\e3b4"
[data-icon="center-focus-weak"]:before
    content: "\e3b5"
[data-icon="change-history"]:before
    content: "\e86b"
[data-icon="chat"]:before
    content: "\e0b7"
[data-icon="chat-bubble"]:before
    content: "\e0ca"
[data-icon="chat-bubble-outline"]:before
    content: "\e0cb"
[data-icon="check"]:before
    content: "\e5ca"
[data-icon="check-box"]:before
    content: "\e834"
[data-icon="check-box-outline-blank"]:before
    content: "\e835"
[data-icon="check-circle"]:before
    content: "\e86c"
[data-icon="chevron-left"]:before
    content: "\e5cb"
[data-icon="chevron-right"]:before
    content: "\e5cc"
[data-icon="child-care"]:before
    content: "\eb41"
[data-icon="child-friendly"]:before
    content: "\eb42"
[data-icon="chrome-reader-mode"]:before
    content: "\e86d"
[data-icon="class"]:before
    content: "\e86e"
[data-icon="clear"]:before
    content: "\e14c"
[data-icon="clear-all"]:before
    content: "\e0b8"
[data-icon="close"]:before
    content: "\e5cd"
[data-icon="closed-caption"]:before
    content: "\e01c"
[data-icon="cloud"]:before
    content: "\e2bd"
[data-icon="cloud-circle"]:before
    content: "\e2be"
[data-icon="cloud-done"]:before
    content: "\e2bf"
[data-icon="cloud-download"]:before
    content: "\e2c0"
[data-icon="cloud-off"]:before
    content: "\e2c1"
[data-icon="cloud-queue"]:before
    content: "\e2c2"
[data-icon="cloud-upload"]:before
    content: "\e2c3"
[data-icon="code"]:before
    content: "\e86f"
[data-icon="collections"]:before
    content: "\e3b6"
[data-icon="collections-bookmark"]:before
    content: "\e431"
[data-icon="color-lens"]:before
    content: "\e3b7"
[data-icon="colorize"]:before
    content: "\e3b8"
[data-icon="comment"]:before
    content: "\e0b9"
[data-icon="compare"]:before
    content: "\e3b9"
[data-icon="compare-arrows"]:before
    content: "\e915"
[data-icon="computer"]:before
    content: "\e30a"
[data-icon="confirmation-number"]:before
    content: "\e638"
[data-icon="contact-mail"]:before
    content: "\e0d0"
[data-icon="contact-phone"]:before
    content: "\e0cf"
[data-icon="contacts"]:before
    content: "\e0ba"
[data-icon="content-copy"]:before
    content: "\e14d"
[data-icon="content-cut"]:before
    content: "\e14e"
[data-icon="content-paste"]:before
    content: "\e14f"
[data-icon="control-point"]:before
    content: "\e3ba"
[data-icon="control-point-duplicate"]:before
    content: "\e3bb"
[data-icon="copyright"]:before
    content: "\e90c"
[data-icon="create"]:before
    content: "\e150"
[data-icon="create-new-folder"]:before
    content: "\e2cc"
[data-icon="credit-card"]:before
    content: "\e870"
[data-icon="crop"]:before
    content: "\e3be"
[data-icon="crop-16-9"]:before
    content: "\e3bc"
[data-icon="crop-3-2"]:before
    content: "\e3bd"
[data-icon="crop-5-4"]:before
    content: "\e3bf"
[data-icon="crop-7-5"]:before
    content: "\e3c0"
[data-icon="crop-din"]:before
    content: "\e3c1"
[data-icon="crop-free"]:before
    content: "\e3c2"
[data-icon="crop-landscape"]:before
    content: "\e3c3"
[data-icon="crop-original"]:before
    content: "\e3c4"
[data-icon="crop-portrait"]:before
    content: "\e3c5"
[data-icon="crop-rotate"]:before
    content: "\e437"
[data-icon="crop-square"]:before
    content: "\e3c6"
[data-icon="dashboard"]:before
    content: "\e871"
[data-icon="data-usage"]:before
    content: "\e1af"
[data-icon="date-range"]:before
    content: "\e916"
[data-icon="dehaze"]:before
    content: "\e3c7"
[data-icon="delete"]:before
    content: "\e872"
[data-icon="delete-forever"]:before
    content: "\e92b"
[data-icon="delete-sweep"]:before
    content: "\e16c"
[data-icon="description"]:before
    content: "\e873"
[data-icon="desktop-mac"]:before
    content: "\e30b"
[data-icon="desktop-windows"]:before
    content: "\e30c"
[data-icon="details"]:before
    content: "\e3c8"
[data-icon="developer-board"]:before
    content: "\e30d"
[data-icon="developer-mode"]:before
    content: "\e1b0"
[data-icon="device-hub"]:before
    content: "\e335"
[data-icon="devices"]:before
    content: "\e1b1"
[data-icon="devices-other"]:before
    content: "\e337"
[data-icon="dialer-sip"]:before
    content: "\e0bb"
[data-icon="dialpad"]:before
    content: "\e0bc"
[data-icon="directions"]:before
    content: "\e52e"
[data-icon="directions-bike"]:before
    content: "\e52f"
[data-icon="directions-boat"]:before
    content: "\e532"
[data-icon="directions-bus"]:before
    content: "\e530"
[data-icon="directions-car"]:before
    content: "\e531"
[data-icon="directions-railway"]:before
    content: "\e534"
[data-icon="directions-run"]:before
    content: "\e566"
[data-icon="directions-subway"]:before
    content: "\e533"
[data-icon="directions-transit"]:before
    content: "\e535"
[data-icon="directions-walk"]:before
    content: "\e536"
[data-icon="disc-full"]:before
    content: "\e610"
[data-icon="dns"]:before
    content: "\e875"
[data-icon="do-not-disturb"]:before
    content: "\e612"
[data-icon="do-not-disturb-alt"]:before
    content: "\e611"
[data-icon="do-not-disturb-off"]:before
    content: "\e643"
[data-icon="do-not-disturb-on"]:before
    content: "\e644"
[data-icon="dock"]:before
    content: "\e30e"
[data-icon="domain"]:before
    content: "\e7ee"
[data-icon="done"]:before
    content: "\e876"
[data-icon="done-all"]:before
    content: "\e877"
[data-icon="donut-large"]:before
    content: "\e917"
[data-icon="donut-small"]:before
    content: "\e918"
[data-icon="drafts"]:before
    content: "\e151"
[data-icon="drag-handle"]:before
    content: "\e25d"
[data-icon="drive-eta"]:before
    content: "\e613"
[data-icon="dvr"]:before
    content: "\e1b2"
[data-icon="edit"]:before
    content: "\e3c9"
[data-icon="edit-location"]:before
    content: "\e568"
[data-icon="eject"]:before
    content: "\e8fb"
[data-icon="email"]:before
    content: "\e0be"
[data-icon="enhanced-encryption"]:before
    content: "\e63f"
[data-icon="equalizer"]:before
    content: "\e01d"
[data-icon="error"]:before
    content: "\e000"
[data-icon="error-outline"]:before
    content: "\e001"
[data-icon="euro-symbol"]:before
    content: "\e926"
[data-icon="ev-station"]:before
    content: "\e56d"
[data-icon="event"]:before
    content: "\e878"
[data-icon="event-available"]:before
    content: "\e614"
[data-icon="event-busy"]:before
    content: "\e615"
[data-icon="event-note"]:before
    content: "\e616"
[data-icon="event-seat"]:before
    content: "\e903"
[data-icon="exit-to-app"]:before
    content: "\e879"
[data-icon="expand-less"]:before
    content: "\e5ce"
[data-icon="expand-more"]:before
    content: "\e5cf"
[data-icon="explicit"]:before
    content: "\e01e"
[data-icon="explore"]:before
    content: "\e87a"
[data-icon="exposure"]:before
    content: "\e3ca"
[data-icon="exposure-neg-1"]:before
    content: "\e3cb"
[data-icon="exposure-neg-2"]:before
    content: "\e3cc"
[data-icon="exposure-plus-1"]:before
    content: "\e3cd"
[data-icon="exposure-plus-2"]:before
    content: "\e3ce"
[data-icon="exposure-zero"]:before
    content: "\e3cf"
[data-icon="extension"]:before
    content: "\e87b"
[data-icon="face"]:before
    content: "\e87c"
[data-icon="fast-forward"]:before
    content: "\e01f"
[data-icon="fast-rewind"]:before
    content: "\e020"
[data-icon="favorite"]:before
    content: "\e87d"
[data-icon="favorite-border"]:before
    content: "\e87e"
[data-icon="featured-play-list"]:before
    content: "\e06d"
[data-icon="featured-video"]:before
    content: "\e06e"
[data-icon="feedback"]:before
    content: "\e87f"
[data-icon="fiber-dvr"]:before
    content: "\e05d"
[data-icon="fiber-manual-record"]:before
    content: "\e061"
[data-icon="fiber-new"]:before
    content: "\e05e"
[data-icon="fiber-pin"]:before
    content: "\e06a"
[data-icon="fiber-smart-record"]:before
    content: "\e062"
[data-icon="file-download"]:before
    content: "\e2c4"
[data-icon="file-upload"]:before
    content: "\e2c6"
[data-icon="filter"]:before
    content: "\e3d3"
[data-icon="filter-1"]:before
    content: "\e3d0"
[data-icon="filter-2"]:before
    content: "\e3d1"
[data-icon="filter-3"]:before
    content: "\e3d2"
[data-icon="filter-4"]:before
    content: "\e3d4"
[data-icon="filter-5"]:before
    content: "\e3d5"
[data-icon="filter-6"]:before
    content: "\e3d6"
[data-icon="filter-7"]:before
    content: "\e3d7"
[data-icon="filter-8"]:before
    content: "\e3d8"
[data-icon="filter-9"]:before
    content: "\e3d9"
[data-icon="filter-9-plus"]:before
    content: "\e3da"
[data-icon="filter-b-and-w"]:before
    content: "\e3db"
[data-icon="filter-center-focus"]:before
    content: "\e3dc"
[data-icon="filter-drama"]:before
    content: "\e3dd"
[data-icon="filter-frames"]:before
    content: "\e3de"
[data-icon="filter-hdr"]:before
    content: "\e3df"
[data-icon="filter-list"]:before
    content: "\e152"
[data-icon="filter-none"]:before
    content: "\e3e0"
[data-icon="filter-tilt-shift"]:before
    content: "\e3e2"
[data-icon="filter-vintage"]:before
    content: "\e3e3"
[data-icon="find-in-page"]:before
    content: "\e880"
[data-icon="find-replace"]:before
    content: "\e881"
[data-icon="fingerprint"]:before
    content: "\e90d"
[data-icon="first-page"]:before
    content: "\e5dc"
[data-icon="fitness-center"]:before
    content: "\eb43"
[data-icon="flag"]:before
    content: "\e153"
[data-icon="flare"]:before
    content: "\e3e4"
[data-icon="flash-auto"]:before
    content: "\e3e5"
[data-icon="flash-off"]:before
    content: "\e3e6"
[data-icon="flash-on"]:before
    content: "\e3e7"
[data-icon="flight"]:before
    content: "\e539"
[data-icon="flight-land"]:before
    content: "\e904"
[data-icon="flight-takeoff"]:before
    content: "\e905"
[data-icon="flip"]:before
    content: "\e3e8"
[data-icon="flip-to-back"]:before
    content: "\e882"
[data-icon="flip-to-front"]:before
    content: "\e883"
[data-icon="folder"]:before
    content: "\e2c7"
[data-icon="folder-open"]:before
    content: "\e2c8"
[data-icon="folder-shared"]:before
    content: "\e2c9"
[data-icon="folder-special"]:before
    content: "\e617"
[data-icon="font-download"]:before
    content: "\e167"
[data-icon="format-align-center"]:before
    content: "\e234"
[data-icon="format-align-justify"]:before
    content: "\e235"
[data-icon="format-align-left"]:before
    content: "\e236"
[data-icon="format-align-right"]:before
    content: "\e237"
[data-icon="format-bold"]:before
    content: "\e238"
[data-icon="format-clear"]:before
    content: "\e239"
[data-icon="format-color-fill"]:before
    content: "\e23a"
[data-icon="format-color-reset"]:before
    content: "\e23b"
[data-icon="format-color-text"]:before
    content: "\e23c"
[data-icon="format-indent-decrease"]:before
    content: "\e23d"
[data-icon="format-indent-increase"]:before
    content: "\e23e"
[data-icon="format-italic"]:before
    content: "\e23f"
[data-icon="format-line-spacing"]:before
    content: "\e240"
[data-icon="format-list-bulleted"]:before
    content: "\e241"
[data-icon="format-list-numbered"]:before
    content: "\e242"
[data-icon="format-paint"]:before
    content: "\e243"
[data-icon="format-quote"]:before
    content: "\e244"
[data-icon="format-shapes"]:before
    content: "\e25e"
[data-icon="format-size"]:before
    content: "\e245"
[data-icon="format-strikethrough"]:before
    content: "\e246"
[data-icon="format-textdirection-l-to-r"]:before
    content: "\e247"
[data-icon="format-textdirection-r-to-l"]:before
    content: "\e248"
[data-icon="format-underlined"]:before
    content: "\e249"
[data-icon="forum"]:before
    content: "\e0bf"
[data-icon="forward"]:before
    content: "\e154"
[data-icon="forward-10"]:before
    content: "\e056"
[data-icon="forward-30"]:before
    content: "\e057"
[data-icon="forward-5"]:before
    content: "\e058"
[data-icon="free-breakfast"]:before
    content: "\eb44"
[data-icon="fullscreen"]:before
    content: "\e5d0"
[data-icon="fullscreen-exit"]:before
    content: "\e5d1"
[data-icon="functions"]:before
    content: "\e24a"
[data-icon="g-translate"]:before
    content: "\e927"
[data-icon="gamepad"]:before
    content: "\e30f"
[data-icon="games"]:before
    content: "\e021"
[data-icon="gavel"]:before
    content: "\e90e"
[data-icon="gesture"]:before
    content: "\e155"
[data-icon="get-app"]:before
    content: "\e884"
[data-icon="gif"]:before
    content: "\e908"
[data-icon="golf-course"]:before
    content: "\eb45"
[data-icon="gps-fixed"]:before
    content: "\e1b3"
[data-icon="gps-not-fixed"]:before
    content: "\e1b4"
[data-icon="gps-off"]:before
    content: "\e1b5"
[data-icon="grade"]:before
    content: "\e885"
[data-icon="gradient"]:before
    content: "\e3e9"
[data-icon="grain"]:before
    content: "\e3ea"
[data-icon="graphic-eq"]:before
    content: "\e1b8"
[data-icon="grid-off"]:before
    content: "\e3eb"
[data-icon="grid-on"]:before
    content: "\e3ec"
[data-icon="group"]:before
    content: "\e7ef"
[data-icon="group-add"]:before
    content: "\e7f0"
[data-icon="group-work"]:before
    content: "\e886"
[data-icon="hd"]:before
    content: "\e052"
[data-icon="hdr-off"]:before
    content: "\e3ed"
[data-icon="hdr-on"]:before
    content: "\e3ee"
[data-icon="hdr-strong"]:before
    content: "\e3f1"
[data-icon="hdr-weak"]:before
    content: "\e3f2"
[data-icon="headset"]:before
    content: "\e310"
[data-icon="headset-mic"]:before
    content: "\e311"
[data-icon="healing"]:before
    content: "\e3f3"
[data-icon="hearing"]:before
    content: "\e023"
[data-icon="help"]:before
    content: "\e887"
[data-icon="help-outline"]:before
    content: "\e8fd"
[data-icon="high-quality"]:before
    content: "\e024"
[data-icon="highlight"]:before
    content: "\e25f"
[data-icon="highlight-off"]:before
    content: "\e888"
[data-icon="history"]:before
    content: "\e889"
[data-icon="home"]:before
    content: "\e88a"
[data-icon="hot-tub"]:before
    content: "\eb46"
[data-icon="hotel"]:before
    content: "\e53a"
[data-icon="hourglass-empty"]:before
    content: "\e88b"
[data-icon="hourglass-full"]:before
    content: "\e88c"
[data-icon="http"]:before
    content: "\e902"
[data-icon="https"]:before
    content: "\e88d"
[data-icon="image"]:before
    content: "\e3f4"
[data-icon="image-aspect-ratio"]:before
    content: "\e3f5"
[data-icon="import-contacts"]:before
    content: "\e0e0"
[data-icon="import-export"]:before
    content: "\e0c3"
[data-icon="important-devices"]:before
    content: "\e912"
[data-icon="inbox"]:before
    content: "\e156"
[data-icon="indeterminate-check-box"]:before
    content: "\e909"
[data-icon="info"]:before
    content: "\e88e"
[data-icon="info-outline"]:before
    content: "\e88f"
[data-icon="input"]:before
    content: "\e890"
[data-icon="insert-chart"]:before
    content: "\e24b"
[data-icon="insert-comment"]:before
    content: "\e24c"
[data-icon="insert-drive-file"]:before
    content: "\e24d"
[data-icon="insert-emoticon"]:before
    content: "\e24e"
[data-icon="insert-invitation"]:before
    content: "\e24f"
[data-icon="insert-link"]:before
    content: "\e250"
[data-icon="insert-photo"]:before
    content: "\e251"
[data-icon="invert-colors"]:before
    content: "\e891"
[data-icon="invert-colors-off"]:before
    content: "\e0c4"
[data-icon="iso"]:before
    content: "\e3f6"
[data-icon="keyboard"]:before
    content: "\e312"
[data-icon="keyboard-arrow-down"]:before
    content: "\e313"
[data-icon="keyboard-arrow-left"]:before
    content: "\e314"
[data-icon="keyboard-arrow-right"]:before
    content: "\e315"
[data-icon="keyboard-arrow-up"]:before
    content: "\e316"
[data-icon="keyboard-backspace"]:before
    content: "\e317"
[data-icon="keyboard-capslock"]:before
    content: "\e318"
[data-icon="keyboard-hide"]:before
    content: "\e31a"
[data-icon="keyboard-return"]:before
    content: "\e31b"
[data-icon="keyboard-tab"]:before
    content: "\e31c"
[data-icon="keyboard-voice"]:before
    content: "\e31d"
[data-icon="kitchen"]:before
    content: "\eb47"
[data-icon="label"]:before
    content: "\e892"
[data-icon="label-outline"]:before
    content: "\e893"
[data-icon="landscape"]:before
    content: "\e3f7"
[data-icon="language"]:before
    content: "\e894"
[data-icon="laptop"]:before
    content: "\e31e"
[data-icon="laptop-chromebook"]:before
    content: "\e31f"
[data-icon="laptop-mac"]:before
    content: "\e320"
[data-icon="laptop-windows"]:before
    content: "\e321"
[data-icon="last-page"]:before
    content: "\e5dd"
[data-icon="launch"]:before
    content: "\e895"
[data-icon="layers"]:before
    content: "\e53b"
[data-icon="layers-clear"]:before
    content: "\e53c"
[data-icon="leak-add"]:before
    content: "\e3f8"
[data-icon="leak-remove"]:before
    content: "\e3f9"
[data-icon="lens"]:before
    content: "\e3fa"
[data-icon="library-add"]:before
    content: "\e02e"
[data-icon="library-books"]:before
    content: "\e02f"
[data-icon="library-music"]:before
    content: "\e030"
[data-icon="lightbulb-outline"]:before
    content: "\e90f"
[data-icon="line-style"]:before
    content: "\e919"
[data-icon="line-weight"]:before
    content: "\e91a"
[data-icon="linear-scale"]:before
    content: "\e260"
[data-icon="link"]:before
    content: "\e157"
[data-icon="linked-camera"]:before
    content: "\e438"
[data-icon="list"]:before
    content: "\e896"
[data-icon="live-help"]:before
    content: "\e0c6"
[data-icon="live-tv"]:before
    content: "\e639"
[data-icon="local-activity"]:before
    content: "\e53f"
[data-icon="local-airport"]:before
    content: "\e53d"
[data-icon="local-atm"]:before
    content: "\e53e"
[data-icon="local-bar"]:before
    content: "\e540"
[data-icon="local-cafe"]:before
    content: "\e541"
[data-icon="local-car-wash"]:before
    content: "\e542"
[data-icon="local-convenience-store"]:before
    content: "\e543"
[data-icon="local-dining"]:before
    content: "\e556"
[data-icon="local-drink"]:before
    content: "\e544"
[data-icon="local-florist"]:before
    content: "\e545"
[data-icon="local-gas-station"]:before
    content: "\e546"
[data-icon="local-grocery-store"]:before
    content: "\e547"
[data-icon="local-hospital"]:before
    content: "\e548"
[data-icon="local-hotel"]:before
    content: "\e549"
[data-icon="local-laundry-service"]:before
    content: "\e54a"
[data-icon="local-library"]:before
    content: "\e54b"
[data-icon="local-mall"]:before
    content: "\e54c"
[data-icon="local-movies"]:before
    content: "\e54d"
[data-icon="local-offer"]:before
    content: "\e54e"
[data-icon="local-parking"]:before
    content: "\e54f"
[data-icon="local-pharmacy"]:before
    content: "\e550"
[data-icon="local-phone"]:before
    content: "\e551"
[data-icon="local-pizza"]:before
    content: "\e552"
[data-icon="local-play"]:before
    content: "\e553"
[data-icon="local-post-office"]:before
    content: "\e554"
[data-icon="local-printshop"]:before
    content: "\e555"
[data-icon="local-see"]:before
    content: "\e557"
[data-icon="local-shipping"]:before
    content: "\e558"
[data-icon="local-taxi"]:before
    content: "\e559"
[data-icon="location-city"]:before
    content: "\e7f1"
[data-icon="location-disabled"]:before
    content: "\e1b6"
[data-icon="location-off"]:before
    content: "\e0c7"
[data-icon="location-on"]:before
    content: "\e0c8"
[data-icon="location-searching"]:before
    content: "\e1b7"
[data-icon="lock"]:before
    content: "\e897"
[data-icon="lock-open"]:before
    content: "\e898"
[data-icon="lock-outline"]:before
    content: "\e899"
[data-icon="looks"]:before
    content: "\e3fc"
[data-icon="looks-3"]:before
    content: "\e3fb"
[data-icon="looks-4"]:before
    content: "\e3fd"
[data-icon="looks-5"]:before
    content: "\e3fe"
[data-icon="looks-6"]:before
    content: "\e3ff"
[data-icon="looks-one"]:before
    content: "\e400"
[data-icon="looks-two"]:before
    content: "\e401"
[data-icon="loop"]:before
    content: "\e028"
[data-icon="loupe"]:before
    content: "\e402"
[data-icon="low-priority"]:before
    content: "\e16d"
[data-icon="loyalty"]:before
    content: "\e89a"
[data-icon="mail"]:before
    content: "\e158"
[data-icon="mail-outline"]:before
    content: "\e0e1"
[data-icon="map"]:before
    content: "\e55b"
[data-icon="markunread"]:before
    content: "\e159"
[data-icon="markunread-mailbox"]:before
    content: "\e89b"
[data-icon="memory"]:before
    content: "\e322"
[data-icon="menu"]:before
    content: "\e5d2"
[data-icon="merge-type"]:before
    content: "\e252"
[data-icon="message"]:before
    content: "\e0c9"
[data-icon="mic"]:before
    content: "\e029"
[data-icon="mic-none"]:before
    content: "\e02a"
[data-icon="mic-off"]:before
    content: "\e02b"
[data-icon="mms"]:before
    content: "\e618"
[data-icon="mode-comment"]:before
    content: "\e253"
[data-icon="mode-edit"]:before
    content: "\e254"
[data-icon="monetization-on"]:before
    content: "\e263"
[data-icon="money-off"]:before
    content: "\e25c"
[data-icon="monochrome-photos"]:before
    content: "\e403"
[data-icon="mood"]:before
    content: "\e7f2"
[data-icon="mood-bad"]:before
    content: "\e7f3"
[data-icon="more"]:before
    content: "\e619"
[data-icon="more-horiz"]:before
    content: "\e5d3"
[data-icon="more-vert"]:before
    content: "\e5d4"
[data-icon="motorcycle"]:before
    content: "\e91b"
[data-icon="mouse"]:before
    content: "\e323"
[data-icon="move-to-inbox"]:before
    content: "\e168"
[data-icon="movie"]:before
    content: "\e02c"
[data-icon="movie-creation"]:before
    content: "\e404"
[data-icon="movie-filter"]:before
    content: "\e43a"
[data-icon="multiline-chart"]:before
    content: "\e6df"
[data-icon="music-note"]:before
    content: "\e405"
[data-icon="music-video"]:before
    content: "\e063"
[data-icon="my-location"]:before
    content: "\e55c"
[data-icon="nature"]:before
    content: "\e406"
[data-icon="nature-people"]:before
    content: "\e407"
[data-icon="navigate-before"]:before
    content: "\e408"
[data-icon="navigate-next"]:before
    content: "\e409"
[data-icon="navigation"]:before
    content: "\e55d"
[data-icon="near-me"]:before
    content: "\e569"
[data-icon="network-cell"]:before
    content: "\e1b9"
[data-icon="network-check"]:before
    content: "\e640"
[data-icon="network-locked"]:before
    content: "\e61a"
[data-icon="network-wifi"]:before
    content: "\e1ba"
[data-icon="new-releases"]:before
    content: "\e031"
[data-icon="next-week"]:before
    content: "\e16a"
[data-icon="nfc"]:before
    content: "\e1bb"
[data-icon="no-encryption"]:before
    content: "\e641"
[data-icon="no-sim"]:before
    content: "\e0cc"
[data-icon="not-interested"]:before
    content: "\e033"
[data-icon="note"]:before
    content: "\e06f"
[data-icon="note-add"]:before
    content: "\e89c"
[data-icon="notifications"]:before
    content: "\e7f4"
[data-icon="notifications-active"]:before
    content: "\e7f7"
[data-icon="notifications-none"]:before
    content: "\e7f5"
[data-icon="notifications-off"]:before
    content: "\e7f6"
[data-icon="notifications-paused"]:before
    content: "\e7f8"
[data-icon="offline-pin"]:before
    content: "\e90a"
[data-icon="ondemand-video"]:before
    content: "\e63a"
[data-icon="opacity"]:before
    content: "\e91c"
[data-icon="open-in-browser"]:before
    content: "\e89d"
[data-icon="open-in-new"]:before
    content: "\e89e"
[data-icon="open-with"]:before
    content: "\e89f"
[data-icon="pages"]:before
    content: "\e7f9"
[data-icon="pageview"]:before
    content: "\e8a0"
[data-icon="palette"]:before
    content: "\e40a"
[data-icon="pan-tool"]:before
    content: "\e925"
[data-icon="panorama"]:before
    content: "\e40b"
[data-icon="panorama-fish-eye"]:before
    content: "\e40c"
[data-icon="panorama-horizontal"]:before
    content: "\e40d"
[data-icon="panorama-vertical"]:before
    content: "\e40e"
[data-icon="panorama-wide-angle"]:before
    content: "\e40f"
[data-icon="party-mode"]:before
    content: "\e7fa"
[data-icon="pause"]:before
    content: "\e034"
[data-icon="pause-circle-filled"]:before
    content: "\e035"
[data-icon="pause-circle-outline"]:before
    content: "\e036"
[data-icon="payment"]:before
    content: "\e8a1"
[data-icon="people"]:before
    content: "\e7fb"
[data-icon="people-outline"]:before
    content: "\e7fc"
[data-icon="perm-camera-mic"]:before
    content: "\e8a2"
[data-icon="perm-contact-calendar"]:before
    content: "\e8a3"
[data-icon="perm-data-setting"]:before
    content: "\e8a4"
[data-icon="perm-device-information"]:before
    content: "\e8a5"
[data-icon="perm-identity"]:before
    content: "\e8a6"
[data-icon="perm-media"]:before
    content: "\e8a7"
[data-icon="perm-phone-msg"]:before
    content: "\e8a8"
[data-icon="perm-scan-wifi"]:before
    content: "\e8a9"
[data-icon="person"]:before
    content: "\e7fd"
[data-icon="person-add"]:before
    content: "\e7fe"
[data-icon="person-outline"]:before
    content: "\e7ff"
[data-icon="person-pin"]:before
    content: "\e55a"
[data-icon="person-pin-circle"]:before
    content: "\e56a"
[data-icon="personal-video"]:before
    content: "\e63b"
[data-icon="pets"]:before
    content: "\e91d"
[data-icon="phone"]:before
    content: "\e0cd"
[data-icon="phone-android"]:before
    content: "\e324"
[data-icon="phone-bluetooth-speaker"]:before
    content: "\e61b"
[data-icon="phone-forwarded"]:before
    content: "\e61c"
[data-icon="phone-in-talk"]:before
    content: "\e61d"
[data-icon="phone-iphone"]:before
    content: "\e325"
[data-icon="phone-locked"]:before
    content: "\e61e"
[data-icon="phone-missed"]:before
    content: "\e61f"
[data-icon="phone-paused"]:before
    content: "\e620"
[data-icon="phonelink"]:before
    content: "\e326"
[data-icon="phonelink-erase"]:before
    content: "\e0db"
[data-icon="phonelink-lock"]:before
    content: "\e0dc"
[data-icon="phonelink-off"]:before
    content: "\e327"
[data-icon="phonelink-ring"]:before
    content: "\e0dd"
[data-icon="phonelink-setup"]:before
    content: "\e0de"
[data-icon="photo"]:before
    content: "\e410"
[data-icon="photo-album"]:before
    content: "\e411"
[data-icon="photo-camera"]:before
    content: "\e412"
[data-icon="photo-filter"]:before
    content: "\e43b"
[data-icon="photo-library"]:before
    content: "\e413"
[data-icon="photo-size-select-actual"]:before
    content: "\e432"
[data-icon="photo-size-select-large"]:before
    content: "\e433"
[data-icon="photo-size-select-small"]:before
    content: "\e434"
[data-icon="picture-as-pdf"]:before
    content: "\e415"
[data-icon="picture-in-picture"]:before
    content: "\e8aa"
[data-icon="picture-in-picture-alt"]:before
    content: "\e911"
[data-icon="pie-chart"]:before
    content: "\e6c4"
[data-icon="pie-chart-outlined"]:before
    content: "\e6c5"
[data-icon="pin-drop"]:before
    content: "\e55e"
[data-icon="place"]:before
    content: "\e55f"
[data-icon="play-arrow"]:before
    content: "\e037"
[data-icon="play-circle-filled"]:before
    content: "\e038"
[data-icon="play-circle-outline"]:before
    content: "\e039"
[data-icon="play-for-work"]:before
    content: "\e906"
[data-icon="playlist-add"]:before
    content: "\e03b"
[data-icon="playlist-add-check"]:before
    content: "\e065"
[data-icon="playlist-play"]:before
    content: "\e05f"
[data-icon="plus-one"]:before
    content: "\e800"
[data-icon="poll"]:before
    content: "\e801"
[data-icon="polymer"]:before
    content: "\e8ab"
[data-icon="pool"]:before
    content: "\eb48"
[data-icon="portable-wifi-off"]:before
    content: "\e0ce"
[data-icon="portrait"]:before
    content: "\e416"
[data-icon="power"]:before
    content: "\e63c"
[data-icon="power-input"]:before
    content: "\e336"
[data-icon="power-settings-new"]:before
    content: "\e8ac"
[data-icon="pregnant-woman"]:before
    content: "\e91e"
[data-icon="present-to-all"]:before
    content: "\e0df"
[data-icon="print"]:before
    content: "\e8ad"
[data-icon="priority-high"]:before
    content: "\e645"
[data-icon="public"]:before
    content: "\e80b"
[data-icon="publish"]:before
    content: "\e255"
[data-icon="query-builder"]:before
    content: "\e8ae"
[data-icon="question-answer"]:before
    content: "\e8af"
[data-icon="queue"]:before
    content: "\e03c"
[data-icon="queue-music"]:before
    content: "\e03d"
[data-icon="queue-play-next"]:before
    content: "\e066"
[data-icon="radio"]:before
    content: "\e03e"
[data-icon="radio-button-checked"]:before
    content: "\e837"
[data-icon="radio-button-unchecked"]:before
    content: "\e836"
[data-icon="rate-review"]:before
    content: "\e560"
[data-icon="receipt"]:before
    content: "\e8b0"
[data-icon="recent-actors"]:before
    content: "\e03f"
[data-icon="record-voice-over"]:before
    content: "\e91f"
[data-icon="redeem"]:before
    content: "\e8b1"
[data-icon="redo"]:before
    content: "\e15a"
[data-icon="refresh"]:before
    content: "\e5d5"
[data-icon="remove"]:before
    content: "\e15b"
[data-icon="remove-circle"]:before
    content: "\e15c"
[data-icon="remove-circle-outline"]:before
    content: "\e15d"
[data-icon="remove-from-queue"]:before
    content: "\e067"
[data-icon="remove-red-eye"]:before
    content: "\e417"
[data-icon="remove-shopping-cart"]:before
    content: "\e928"
[data-icon="reorder"]:before
    content: "\e8fe"
[data-icon="repeat"]:before
    content: "\e040"
[data-icon="repeat-one"]:before
    content: "\e041"
[data-icon="replay"]:before
    content: "\e042"
[data-icon="replay-10"]:before
    content: "\e059"
[data-icon="replay-30"]:before
    content: "\e05a"
[data-icon="replay-5"]:before
    content: "\e05b"
[data-icon="reply"]:before
    content: "\e15e"
[data-icon="reply-all"]:before
    content: "\e15f"
[data-icon="report"]:before
    content: "\e160"
[data-icon="report-problem"]:before
    content: "\e8b2"
[data-icon="restaurant"]:before
    content: "\e56c"
[data-icon="restaurant-menu"]:before
    content: "\e561"
[data-icon="restore"]:before
    content: "\e8b3"
[data-icon="restore-page"]:before
    content: "\e929"
[data-icon="ring-volume"]:before
    content: "\e0d1"
[data-icon="room"]:before
    content: "\e8b4"
[data-icon="room-service"]:before
    content: "\eb49"
[data-icon="rotate-90-degrees-ccw"]:before
    content: "\e418"
[data-icon="rotate-left"]:before
    content: "\e419"
[data-icon="rotate-right"]:before
    content: "\e41a"
[data-icon="rounded-corner"]:before
    content: "\e920"
[data-icon="router"]:before
    content: "\e328"
[data-icon="rowing"]:before
    content: "\e921"
[data-icon="rss-feed"]:before
    content: "\e0e5"
[data-icon="rv-hookup"]:before
    content: "\e642"
[data-icon="satellite"]:before
    content: "\e562"
[data-icon="save"]:before
    content: "\e161"
[data-icon="scanner"]:before
    content: "\e329"
[data-icon="schedule"]:before
    content: "\e8b5"
[data-icon="school"]:before
    content: "\e80c"
[data-icon="screen-lock-landscape"]:before
    content: "\e1be"
[data-icon="screen-lock-portrait"]:before
    content: "\e1bf"
[data-icon="screen-lock-rotation"]:before
    content: "\e1c0"
[data-icon="screen-rotation"]:before
    content: "\e1c1"
[data-icon="screen-share"]:before
    content: "\e0e2"
[data-icon="sd-card"]:before
    content: "\e623"
[data-icon="sd-storage"]:before
    content: "\e1c2"
[data-icon="search"]:before
    content: "\e8b6"
[data-icon="security"]:before
    content: "\e32a"
[data-icon="select-all"]:before
    content: "\e162"
[data-icon="send"]:before
    content: "\e163"
[data-icon="sentiment-dissatisfied"]:before
    content: "\e811"
[data-icon="sentiment-neutral"]:before
    content: "\e812"
[data-icon="sentiment-satisfied"]:before
    content: "\e813"
[data-icon="sentiment-very-dissatisfied"]:before
    content: "\e814"
[data-icon="sentiment-very-satisfied"]:before
    content: "\e815"
[data-icon="settings"]:before
    content: "\e8b8"
[data-icon="settings-applications"]:before
    content: "\e8b9"
[data-icon="settings-backup-restore"]:before
    content: "\e8ba"
[data-icon="settings-bluetooth"]:before
    content: "\e8bb"
[data-icon="settings-brightness"]:before
    content: "\e8bd"
[data-icon="settings-cell"]:before
    content: "\e8bc"
[data-icon="settings-ethernet"]:before
    content: "\e8be"
[data-icon="settings-input-antenna"]:before
    content: "\e8bf"
[data-icon="settings-input-component"]:before
    content: "\e8c0"
[data-icon="settings-input-composite"]:before
    content: "\e8c1"
[data-icon="settings-input-hdmi"]:before
    content: "\e8c2"
[data-icon="settings-input-svideo"]:before
    content: "\e8c3"
[data-icon="settings-overscan"]:before
    content: "\e8c4"
[data-icon="settings-phone"]:before
    content: "\e8c5"
[data-icon="settings-power"]:before
    content: "\e8c6"
[data-icon="settings-remote"]:before
    content: "\e8c7"
[data-icon="settings-system-daydream"]:before
    content: "\e1c3"
[data-icon="settings-voice"]:before
    content: "\e8c8"
[data-icon="share"]:before
    content: "\e80d"
[data-icon="shop"]:before
    content: "\e8c9"
[data-icon="shop-two"]:before
    content: "\e8ca"
[data-icon="shopping-basket"]:before
    content: "\e8cb"
[data-icon="shopping-cart"]:before
    content: "\e8cc"
[data-icon="short-text"]:before
    content: "\e261"
[data-icon="show-chart"]:before
    content: "\e6e1"
[data-icon="shuffle"]:before
    content: "\e043"
[data-icon="signal-cellular-4-bar"]:before
    content: "\e1c8"
[data-icon="signal-cellular-connected-no-internet-4-bar"]:before
    content: "\e1cd"
[data-icon="signal-cellular-no-sim"]:before
    content: "\e1ce"
[data-icon="signal-cellular-null"]:before
    content: "\e1cf"
[data-icon="signal-cellular-off"]:before
    content: "\e1d0"
[data-icon="signal-wifi-4-bar"]:before
    content: "\e1d8"
[data-icon="signal-wifi-4-bar-lock"]:before
    content: "\e1d9"
[data-icon="signal-wifi-off"]:before
    content: "\e1da"
[data-icon="sim-card"]:before
    content: "\e32b"
[data-icon="sim-card-alert"]:before
    content: "\e624"
[data-icon="skip-next"]:before
    content: "\e044"
[data-icon="skip-previous"]:before
    content: "\e045"
[data-icon="slideshow"]:before
    content: "\e41b"
[data-icon="slow-motion-video"]:before
    content: "\e068"
[data-icon="smartphone"]:before
    content: "\e32c"
[data-icon="smoke-free"]:before
    content: "\eb4a"
[data-icon="smoking-rooms"]:before
    content: "\eb4b"
[data-icon="sms"]:before
    content: "\e625"
[data-icon="sms-failed"]:before
    content: "\e626"
[data-icon="snooze"]:before
    content: "\e046"
[data-icon="sort"]:before
    content: "\e164"
[data-icon="sort-by-alpha"]:before
    content: "\e053"
[data-icon="spa"]:before
    content: "\eb4c"
[data-icon="space-bar"]:before
    content: "\e256"
[data-icon="speaker"]:before
    content: "\e32d"
[data-icon="speaker-group"]:before
    content: "\e32e"
[data-icon="speaker-notes"]:before
    content: "\e8cd"
[data-icon="speaker-notes-off"]:before
    content: "\e92a"
[data-icon="speaker-phone"]:before
    content: "\e0d2"
[data-icon="spellcheck"]:before
    content: "\e8ce"
[data-icon="star"]:before
    content: "\e838"
[data-icon="star-border"]:before
    content: "\e83a"
[data-icon="star-half"]:before
    content: "\e839"
[data-icon="stars"]:before
    content: "\e8d0"
[data-icon="stay-current-landscape"]:before
    content: "\e0d3"
[data-icon="stay-current-portrait"]:before
    content: "\e0d4"
[data-icon="stay-primary-landscape"]:before
    content: "\e0d5"
[data-icon="stay-primary-portrait"]:before
    content: "\e0d6"
[data-icon="stop"]:before
    content: "\e047"
[data-icon="stop-screen-share"]:before
    content: "\e0e3"
[data-icon="storage"]:before
    content: "\e1db"
[data-icon="store"]:before
    content: "\e8d1"
[data-icon="store-mall-directory"]:before
    content: "\e563"
[data-icon="straighten"]:before
    content: "\e41c"
[data-icon="streetview"]:before
    content: "\e56e"
[data-icon="strikethrough-s"]:before
    content: "\e257"
[data-icon="style"]:before
    content: "\e41d"
[data-icon="subdirectory-arrow-left"]:before
    content: "\e5d9"
[data-icon="subdirectory-arrow-right"]:before
    content: "\e5da"
[data-icon="subject"]:before
    content: "\e8d2"
[data-icon="subscriptions"]:before
    content: "\e064"
[data-icon="subtitles"]:before
    content: "\e048"
[data-icon="subway"]:before
    content: "\e56f"
[data-icon="supervisor-account"]:before
    content: "\e8d3"
[data-icon="surround-sound"]:before
    content: "\e049"
[data-icon="swap-calls"]:before
    content: "\e0d7"
[data-icon="swap-horiz"]:before
    content: "\e8d4"
[data-icon="swap-vert"]:before
    content: "\e8d5"
[data-icon="swap-vertical-circle"]:before
    content: "\e8d6"
[data-icon="switch-camera"]:before
    content: "\e41e"
[data-icon="switch-video"]:before
    content: "\e41f"
[data-icon="sync"]:before
    content: "\e627"
[data-icon="sync-disabled"]:before
    content: "\e628"
[data-icon="sync-problem"]:before
    content: "\e629"
[data-icon="system-update"]:before
    content: "\e62a"
[data-icon="system-update-alt"]:before
    content: "\e8d7"
[data-icon="tab"]:before
    content: "\e8d8"
[data-icon="tab-unselected"]:before
    content: "\e8d9"
[data-icon="tablet"]:before
    content: "\e32f"
[data-icon="tablet-android"]:before
    content: "\e330"
[data-icon="tablet-mac"]:before
    content: "\e331"
[data-icon="tag-faces"]:before
    content: "\e420"
[data-icon="tap-and-play"]:before
    content: "\e62b"
[data-icon="terrain"]:before
    content: "\e564"
[data-icon="text-fields"]:before
    content: "\e262"
[data-icon="text-format"]:before
    content: "\e165"
[data-icon="textsms"]:before
    content: "\e0d8"
[data-icon="texture"]:before
    content: "\e421"
[data-icon="theaters"]:before
    content: "\e8da"
[data-icon="thumb-down"]:before
    content: "\e8db"
[data-icon="thumb-up"]:before
    content: "\e8dc"
[data-icon="thumbs-up-down"]:before
    content: "\e8dd"
[data-icon="time-to-leave"]:before
    content: "\e62c"
[data-icon="timelapse"]:before
    content: "\e422"
[data-icon="timeline"]:before
    content: "\e922"
[data-icon="timer"]:before
    content: "\e425"
[data-icon="timer-10"]:before
    content: "\e423"
[data-icon="timer-3"]:before
    content: "\e424"
[data-icon="timer-off"]:before
    content: "\e426"
[data-icon="title"]:before
    content: "\e264"
[data-icon="toc"]:before
    content: "\e8de"
[data-icon="today"]:before
    content: "\e8df"
[data-icon="toll"]:before
    content: "\e8e0"
[data-icon="tonality"]:before
    content: "\e427"
[data-icon="touch-app"]:before
    content: "\e913"
[data-icon="toys"]:before
    content: "\e332"
[data-icon="track-changes"]:before
    content: "\e8e1"
[data-icon="traffic"]:before
    content: "\e565"
[data-icon="train"]:before
    content: "\e570"
[data-icon="tram"]:before
    content: "\e571"
[data-icon="transfer-within-a-station"]:before
    content: "\e572"
[data-icon="transform"]:before
    content: "\e428"
[data-icon="translate"]:before
    content: "\e8e2"
[data-icon="trending-down"]:before
    content: "\e8e3"
[data-icon="trending-flat"]:before
    content: "\e8e4"
[data-icon="trending-up"]:before
    content: "\e8e5"
[data-icon="tune"]:before
    content: "\e429"
[data-icon="turned-in"]:before
    content: "\e8e6"
[data-icon="turned-in-not"]:before
    content: "\e8e7"
[data-icon="tv"]:before
    content: "\e333"
[data-icon="unarchive"]:before
    content: "\e169"
[data-icon="undo"]:before
    content: "\e166"
[data-icon="unfold-less"]:before
    content: "\e5d6"
[data-icon="unfold-more"]:before
    content: "\e5d7"
[data-icon="update"]:before
    content: "\e923"
[data-icon="usb"]:before
    content: "\e1e0"
[data-icon="verified-user"]:before
    content: "\e8e8"
[data-icon="vertical-align-bottom"]:before
    content: "\e258"
[data-icon="vertical-align-center"]:before
    content: "\e259"
[data-icon="vertical-align-top"]:before
    content: "\e25a"
[data-icon="vibration"]:before
    content: "\e62d"
[data-icon="video-call"]:before
    content: "\e070"
[data-icon="video-label"]:before
    content: "\e071"
[data-icon="video-library"]:before
    content: "\e04a"
[data-icon="videocam"]:before
    content: "\e04b"
[data-icon="videocam-off"]:before
    content: "\e04c"
[data-icon="videogame-asset"]:before
    content: "\e338"
[data-icon="view-agenda"]:before
    content: "\e8e9"
[data-icon="view-array"]:before
    content: "\e8ea"
[data-icon="view-carousel"]:before
    content: "\e8eb"
[data-icon="view-column"]:before
    content: "\e8ec"
[data-icon="view-comfy"]:before
    content: "\e42a"
[data-icon="view-compact"]:before
    content: "\e42b"
[data-icon="view-day"]:before
    content: "\e8ed"
[data-icon="view-headline"]:before
    content: "\e8ee"
[data-icon="view-list"]:before
    content: "\e8ef"
[data-icon="view-module"]:before
    content: "\e8f0"
[data-icon="view-quilt"]:before
    content: "\e8f1"
[data-icon="view-stream"]:before
    content: "\e8f2"
[data-icon="view-week"]:before
    content: "\e8f3"
[data-icon="vignette"]:before
    content: "\e435"
[data-icon="visibility"]:before
    content: "\e8f4"
[data-icon="visibility-off"]:before
    content: "\e8f5"
[data-icon="voice-chat"]:before
    content: "\e62e"
[data-icon="voicemail"]:before
    content: "\e0d9"
[data-icon="volume-down"]:before
    content: "\e04d"
[data-icon="volume-mute"]:before
    content: "\e04e"
[data-icon="volume-off"]:before
    content: "\e04f"
[data-icon="volume-up"]:before
    content: "\e050"
[data-icon="vpn-key"]:before
    content: "\e0da"
[data-icon="vpn-lock"]:before
    content: "\e62f"
[data-icon="wallpaper"]:before
    content: "\e1bc"
[data-icon="warning"]:before
    content: "\e002"
[data-icon="watch"]:before
    content: "\e334"
[data-icon="watch-later"]:before
    content: "\e924"
[data-icon="wb-auto"]:before
    content: "\e42c"
[data-icon="wb-cloudy"]:before
    content: "\e42d"
[data-icon="wb-incandescent"]:before
    content: "\e42e"
[data-icon="wb-iridescent"]:before
    content: "\e436"
[data-icon="wb-sunny"]:before
    content: "\e430"
[data-icon="wc"]:before
    content: "\e63d"
[data-icon="web"]:before
    content: "\e051"
[data-icon="web-asset"]:before
    content: "\e069"
[data-icon="weekend"]:before
    content: "\e16b"
[data-icon="whatshot"]:before
    content: "\e80e"
[data-icon="widgets"]:before
    content: "\e1bd"
[data-icon="wifi"]:before
    content: "\e63e"
[data-icon="wifi-lock"]:before
    content: "\e1e1"
[data-icon="wifi-tethering"]:before
    content: "\e1e2"
[data-icon="work"]:before
    content: "\e8f9"
[data-icon="wrap-text"]:before
    content: "\e25b"
[data-icon="youtube-searched-for"]:before
    content: "\e8fa"
[data-icon="zoom-in"]:before
    content: "\e8ff"
[data-icon="zoom-out"]:before
    content: "\e900"
[data-icon="zoom-out-map"]:before
    content: "\e56b"
