@import "./base.styl"


$-melon-pager-ul = {

    display: block

    list-style: none

    outline: 0
    vertical-align: middle

    border: none

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent

    font-size: 18px
}


$-melon-pager-item = {

    display: inline-block

    padding: 0
    margin: 0 0.2em

    width: 2em
    height: 2em
    line-height: 2em


    outline: 0
    vertical-align: middle
    text-align: center

    border: none
    color: $-melon-colors.darkBlack

    cursor: pointer

    // Gets rid of tap active state
    -webkit-tap-highlight-color: transparent

    -webkit-transition: background-color 0.6s ease-in-out
    -moz-transition: background-color 0.6s ease-in-out
    -o-transition: background-color 0.6s ease-in-out
    transition: background-color 0.6s ease-in-out

}

$-melon-pager-states = {

    disabled: {
        cursor: default
        color: $-melon-colors.lightBlack
    },

    current: {
        background-color: $-melon-colors.cyan500
        color: $-melon-colors.white
        border-radius: 2px
    },

    prev: {
        width: auto
        font-size: 1.5em
        -webkit-transition: none
        -moz-transition: none
        -o-transition: none
        transition: none

        '&:hover': {
            background-color: transparent
            border-radius: 0
        }
    },

    next: {
        width: auto
        font-size: 1.5em
        -webkit-transition: none
        -moz-transition: none
        -o-transition: none
        transition: none

        '&:hover': {
            background-color: transparent
            border-radius: 0
        }
    },

    ellipsis: {
        width: auto
        font-size: 1.2em
        -webkit-transition: none
        -moz-transition: none
        -o-transition: none
        transition: none

        '&:hover': {
            background-color: transparent
            border-radius: 0
        }
    }
}



.{$-melon-class-prefix}-pager

    ul
        {$-melon-pager-ul}

    .{$-melon-class-prefix}-pager-item

        {$-melon-pager-item}

        &:hover
            background-color: $-melon-colors.cyan300
            border-radius: 2px

        for $state, $hashes in $-melon-pager-states
            &.state-{$state}
                {$hashes}

        a
            text-decoration: none

            &:link
            &:active
            &:hover
                text-decoration: none
                color: inherit
                background: transparent
                cursor: inherit
