/**
 * @file Popup 样式
 * @author leon <ludafa@outlook.com>
 */

@require "nib"
@require "./base.styl"
@require "./Layer.styl"

.{$-melon-class-prefix}-popover-layer
    position: absolute
    text-align: left
    background-color: #fff
    box-shadow: melon-get-z-depth('2')
    border-radius: 2px
    z-index: $-melon-z-index.popover

    &.exited
        transform: scale(0, 0)
        transition: transform .45s ease-in-out

    &.entering,
    &.entered
        transform: scale(1, 1)
