@require "./base.styl"

.{$-melon-class-prefix}-touch-ripple
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden
    z-index: 1

    &-circle
        background-color: $-melon-colors.darkBlack
        position: absolute
        top: 0
        left: 0
        border-radius: 100em

.{$-melon-class-prefix}-center-ripple
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden

    &-circle
        width: 100%
        height: 100%
        background-color: $-melon-colors.darkBlack
        position: absolute
        border-radius: 100em
        top: 0
        left: 0


.{$-melon-class-prefix}-ripple
    position: absolute;
    background-color: currentColor;
    border-radius: 50%
    user-select: none
    transition: transform 450ms ease-in-out, opacity 450ms linear
    pointer-events: none

    &.state-appearing
        opacity: 0.1;
        transform: scale(0)

    &.state-entering
        opacity: 0.35;
        transform: scale(1);

    &.state-exiting
        opacity: 0;
        // transform: scale(2);
