@require "./base.styl"

$-melon-scrollview-width = 100%
$-melon-scrollview-height = 300px
$-melon-scrollview-thumb-size = 8px
$-melon-scrollview-thumb-color = $-melon-colors.minBlack;
$-melon-scrollview-color = transparent
$-melon-scrollview-border = 1px solid $-melon-colors.minBlack

.{$-melon-class-prefix}-noselect
    user-select: none
    cursor: default

.{$-melon-class-prefix}-scrollview

    position: relative
    display: block
    overflow: hidden
    width: $-melon-scrollview-width
    height: $-melon-scrollview-height

    &-main
        position: absolute
        left: 0
        top: 0
        overflow: visible
        box-sizing: border-box

    &.variant-vertical.variant-horizontal &-bar.variant-vertical
        height: calc(100% - 12px)

    &-bar
        position: absolute
        background-color: $-melon-scrollview-color
        padding: 2px
        z-index: 1
        transition: all .5s cubic-bezier(0.23, 1, 0.32, 1)

        &:hover,
        &.state-show
            background-color: rgba($-melon-colors.brown50, 0.5)

        &:hover > &-thumb,
        &.state-show > &-thumb
            background-color: $-melon-colors.lightBlack

        &.variant-vertical
            width: $-melon-scrollview-thumb-size
            height: 100%
            top: 0
            right: 0

        &.variant-horizontal
            width: 100%
            height: $-melon-scrollview-thumb-size
            left: 0
            bottom: 0

        &-thumb
            background-color: $-melon-scrollview-thumb-color
            border-radius: 4px
            cursor: default
            position: absolute

        &.variant-vertical > &-thumb
            width: $-melon-scrollview-thumb-size
            height: $-melon-scrollview-thumb-size * 3
            top: 0
            right: 2px

        &.variant-horizontal > &-thumb
            width: $-melon-scrollview-thumb-size * 3
            height: $-melon-scrollview-thumb-size
            left: 0
            bottom: 2px
