@require './base.styl'
@require './Icon.styl'
@require './Popover.styl'

.{$-melon-class-prefix}-select
    position: relative
    display: inline-block
    box-sizing: border-box
    padding: 0.5em 0
    padding-right: $-melon-medium-font-size

    min-width: 5em

    line-height: 1.5em
    font-size: $-melon-medium-font-size

    border-bottom: 1px solid $-melon-colors.grey300

    &-label
        display inline-block
        width: 100%
        font-size: 1em
        text-align: left
        cursor: pointer
        vertical-align: middle
        transition border-color 1s
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &-placeholder
            color: $-melon-colors.grey500

    > .ui-icon
        display: inline-block
        font-size: $-melon-medium-font-size
        width: @font-size
        vertical-align middle
        margin-right: -@width

    &-popup
        padding: 1em 0

    &-option-group

        &-title
            box-sizing: border-box
            width: 100%
            line-height: 2em
            padding: 0 1em
            cursor: default
            color: $-melon-colors.grey700

        &-list .{$-melon-class-prefix}-select-option
            padding-left: 2em

    &-option
        box-sizing: border-box
        width: 100%
        line-height: 2em
        padding: 0 1em
        cursor: pointer

        &:hover
            background-color: $-melon-colors.grey300

        &.state-selected
            color: $-melon-colors.teal500

        &.state-disabled
            color: $-melon-colors.grey400
            cursor: not-allowed
            &:hover
                background-color: $-melon-colors.white

    &.state-invalid
        border-bottom-color: $-melon-colors.red500

    &.state-read-only &-label
        cursor: default;

    &.state-disabled &-label
        cursor: not-allowed;
