@require './base.styl'
@require './Icon.styl'

.{$-melon-class-prefix}-table
    box-sizing: border-box
    width: 100%
    border-radius: 2px
    border: 1px solid $-melon-colors.grey400
    overflow: auto

    &-row
        display: inline-block
        white-space: nowrap
        border-top: 1px solid $-melon-colors.grey400

        &.state-selected
            .{$-melon-variant-prefix}-table-selector
                color: $-melon-colors.blue500

    &-header &-row
        height: 56px
        border-top: 0
        td
            font-size: $-melon-xx-small-font-size

    &-header &-cell &-cell-content,
    &-footer &-cell &-cell-content
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

    &-header &-row,
    &-footer &-row
        color: rgba($-melon-colors.black, .54)

    &-body &-row

        &.state-selected
            background-color: $-melon-colors.grey100

        &:hover
            background-color: $-melon-colors.grey200

    &-body-empty

        height: 10em
        text-align: center
        color: $-melon-colors.grey400
        border-top: 1px solid $-melon-colors.grey400

        &:before
            content: ''
            display: inline-block
            width: 0;
            height: 100%;
            vertical-align: middle

    &-cell
        display: inline-block
        vertical-align: top
        font-size: $-melon-x-small-font-size
        color: rgba($-melon-colors.black, .87)
        white-space: normal

        &:first-child
            padding-left: 1em

        &-wrap1
            display: table
            table-layout: fixed

        &-wrap2
            display: table-row

        &-wrap3
            display: table-cell
            vertical-align: middle
            padding: 0.5em

        .{$-melon-class-prefix}-select
            border-bottom-width: 0

    .{$-melon-variant-prefix}-table-selector
        width: 1.5em
        font-size: 1.5em
        color: $-melon-colors.grey700
        cursor: pointer
        transition: color .5s

        &.state-selected
            color: $-melon-colors.teal500
