.state-hidden {
  display: none !important;
}
.variant-size-xs {
  font-size: 14px !important;
}
.variant-size-s {
  font-size: 15px !important;
}
.variant-size-m {
  font-size: 16px !important;
}
.variant-size-l {
  font-size: 18px !important;
}
.variant-size-xl {
  font-size: 20px !important;
}
.variant-size-xxl {
  font-size: 22px !important;
}
.variant-size-xxxl {
  font-size: 24px !important;
}
.ui-button {
  display: inline-block;
  padding: 0 1em;
  height: 2em;
  min-width: 4em;
  font-size: 16px;
  line-height: 2em;
  color: #2196f3;
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.ui-button:hover {
  background-color: rgba(153,153,153,0.2);
}
.ui-button:active {
  background-color: rgba(153,153,153,0.4);
}
.ui-button:disabled {
  color: rgba(0,0,0,0.26);
  cursor: not-allowed;
  background-color: transparent;
}
.ui-button.variant-raised {
  padding: 0 1em;
  height: 2em;
  min-width: 4em;
  font-size: 16px;
  line-height: 2em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  vertical-align: middle;
  background-color: #009688;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.ui-button.variant-raised:hover {
  background-color: #26a69a;
  box-shadow: none;
}
.ui-button.variant-raised:active {
  background-color: #00897b;
}
.ui-button.variant-raised:disabled {
  cursor: not-allowed;
  color: rgba(0,0,0,0.3);
  background-color: rgba(0,0,0,0.12);
  box-shadow: none;
}
