@import "./base.styl"


$-melon-toggle = {

    display: inline-block

    position: relative

    cursor: pointer

}

$-melon-toggle-circle = {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    box-sizing: border-box
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px
    border-radius: 50%
    position: absolute
    top: 0
    left: 0
    width: 1.2em
    height: 1.2em
    line-height: 2em
    background-color: $-melon-colors.white
}


$-melon-toggle-bar = {

    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    width: 100%
    height: 0.8em
    border-radius: 30px
    background-color: rgba(0, 0, 0, 0.258824)

}

$-melon-toggle-bar-container = {

    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms
    position: relative
    display: inline-block
    width: 2em
    margin-right: 0
    margin-left: 0.8em
    padding: 0.2em 0px 0.2em 0.1em
}


.{$-melon-class-prefix}-toggle

    {$-melon-toggle}

    melon-clearfix()

    &.state-disabled

        cursor: not-allowed

        .{$-melon-class-prefix}-toggle-circle
            background-color: $-melon-colors.grey400

        .{$-melon-class-prefix}-toggle-bar
            background-color: $-melon-colors.faintBlack

    &-input

        opacity: 0
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        margin: 0

    &-label

        display: block
        float: left
        height: 1.2em
        line-height: 1.2em
        padding: 0;
        margin-left: 0.8em

    &-label-left

        margin-left: 0

    &-bar-container

        {$-melon-toggle-bar-container}

        float: left

        .{$-melon-class-prefix}-toggle-circle
            {$-melon-toggle-circle}

        .{$-melon-class-prefix}-toggle-bar
            {$-melon-toggle-bar}