@require "./base.styl"
@require "./Button.styl"
@require "./Icon.styl"
@require "./Progress.styl"
@require "./Link.styl"

.{$-melon-class-prefix}-uploader
    position: relative
    display: inline-block
    min-width: 5em


    >input[type=file]
        display: none

    &-content
        border-bottom: 1px solid $-melon-colors.grey300
        height: 2em
        line-height: 2em
        padding-bottom: 3px
        cursor: pointer;
        padding: 0 2em 0 1.5em;
        clearfix();

        >.ui-link,
        .{$-melon-class-prefix}-uploader-placeholder
            display: block;
            float: left;
            width: 100%;
            line-height: 2em;
            text-transform: none;
            vertical-align: middle;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

        >.ui-icon
            float: left;
            display: inline-block;
            line-height: 2em;
            height: 100%;
            vertical-align: middle;
            margin-left: -1.5em
            font-size: 1em

        >.ui-button
            float: left;
            margin-right: -2em;


    &-uploading
        height: 2em;

        &:before
            content: '';
            display: inline-block
            vertical-align: middle;
            height: 100%;

        >span,
        >.ui-progress,
        >.ui-button
            color: #aaa
            display: inline-block
            vertical-align: middle;
            margin-right: 0.5em


    &-label
        vertical-align: middle
        margin-right: 1em

    &-preview
        float: left;
        display: inline-block;
        line-height: 2em
        margin: 0.5em 0 0.5em -1.5em
        width: 1em;
        height: 1em;
        border: 1px solid #ddd;
        vertical-align: middle;

    &-placeholder
        color: $-melon-colors.grey500
