// font-size
$-melon-medium-font-size = 16px
$-melon-xx-small-font-size = ($-melon-medium-font-size * 0.75) // 12
$-melon-x-small-font-size = ($-melon-medium-font-size * 0.875) // 14
$-melon-small-font-size = ($-melon-medium-font-size * 0.9375) // 16
$-melon-large-font-size = ($-melon-medium-font-size * 1.125) // 18
$-melon-x-large-font-size = ($-melon-medium-font-size * 1.25) // 20
$-melon-xx-large-font-size = ($-melon-medium-font-size * 1.375) // 22
$-melon-xxx-large-font-size = ($-melon-medium-font-size * 1.5) // 24
$-melon-xxxx-large-font-size = ($-melon-medium-font-size * 2.25) // 36

$-melon-font-family = 'Helvetica Neue', Helvetica, Arial, '宋体', SimSun, sans-serif;

// global transition switch
$-melon-enable-transition-effect = true

// all prefix definitions
$-melon-class-prefix = ui
$-melon-state-prefix = state
$-melon-variant-prefix = variant

