@require './base.styl'

.{$-melon-class-prefix}-zippy
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 0ms linear 0.5s, width 0ms linear 0.5s
    transform: scale(1, 1)
    transform-origin: top left

    &.variant-vertical.state-close
        height: 0

    &.variant-horizontal.state-close
        width: 0
