@require './base.styl'

.{$-melon-class-prefix}-zippy
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms, height 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms, width 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms
    transform: scale(1, 1)
    transform-origin: top left

    &.variant-vertical.state-close
        height: 0
        overflow-y: hidden

    &.variant-horizontal.state-close
        width: 0
        overflow-x: hidden
