/**
 * @file Melon React Story Book styles
 * @author leon <ludafa@outlook.com>
 */

@require 'nib'
@require '../src/css/mixin.styl'
@require '../src/css/theme/default'
@require '../src/css/**'

global-reset()

html,
body,
#root
    height: 100%

#root
    padding: 1rem

.normal
    line-height: 1.5
    padding: 1rem 0
    color: #666
