@require 'nib'

@require '../dep/highlight/styles/solarized-dark.css';

global-reset()

@require 'melon/css/colors.styl'
@require 'melon/css/mixin.styl'
@require 'melon/css/theme/default/index.styl'
@require 'melon/css/**'
@require 'melon-calendar/lib/index.styl'
@require 'melon-timepicker/lib/index.styl'

@require './common/css/**';

html, body
    min-width: 1024px
    background-color: $-melon-colors.grey50
    font-size: 16px
    font-family: 'Roboto', 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', Arial;
    color: $-melon-colors.darkBlack

a
    text-decoration: none
    color: $-melon-colors.red700

#nav
    height: 48px

#main
    padding: 64px 0 0 0

@require './home/css/**'
@require './components/css/**'
@require './style/css/**'

melon-generate-grid()
